<a href="https://colab.research.google.com/github/abhishekzzz/A/blob/main/Data_Science_Sudan_Zambia_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
file_path = ["TradeData_2017.xlsx","TradeData_2018.xlsx","TradeData_2019.xlsx","TradeData_2020.xlsx","TradeData_2021.xlsx","TradeData_2022.xlsx","TradeData_2023.xlsx"]

In [ ]:
df = [pd.read_excel(file) for file in file_path]

In [ ]:
combine_df = pd.concat(df,ignore_index=True)

In [ ]:
for column in combine_df.columns:
    unique_values = combine_df[column].unique()
    print(f"Unique values in '{column}': {unique_values}")

Unique values in 'typeCode': ['C']
Unique values in 'freqCode': ['M']
Unique values in 'refPeriodId': [20170101 20170201 20170301 20170401 20170501 20170601 20170701 20170801
 20170901 20171001 20171101 20171201 20180101 20180201 20180301 20180401
 20180501 20180601 20180701 20180801 20180901 20181001 20181101 20181201
 20190101 20190201 20190301 20190401 20190501 20190601 20190801 20190901
 20191001 20191101 20191201 20200101 20200201 20200301 20200501 20200601
 20200701 20200801 20200901 20201001 20201101 20201201 20210101 20210201
 20210301 20210401 20210501 20210601 20210701 20210801 20210901 20211001
 20211101 20211201 20220101 20220201 20220301 20220401 20220501 20220601
 20220701 20220801 20220901 20221001 20221101 20221201 20230101 20230201
 20230301 20230401 20230501 20230601 20230701 20230801 20230901 20231001
 20231101 20231201]
Unique values in 'refYear': [2017 2018 2019 2020 2021 2022 2023]
Unique values in 'refMonth': [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique values in 'period': [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201908 201909 201910 201911 201912 202001 202002 202003 202005 202006
 202007 202008 202009 202010 202011 202012 202101 202102 202103 202104
 202105 202106 202107 202108 202109 202110 202111 202112 202201 202202
 202203 202204 202205 202206 202207 202208 202209 202210 202211 202212
 202301 202302 202303 202304 202305 202306 202307 202308 202309 202310
 202311 202312]
Unique values in 'reporterCode': [729 894]
Unique values in 'reporterISO': ['SDN' 'ZMB']
Unique values in 'reporterDesc': ['Sudan' 'Zambia']
Unique values in 'flowCode': ['X']
Unique values in 'flowDesc': ['Export']
Unique values in 'partnerCode': [  0 784 710 792  51 533 251 682  16 208 634 218 566 842  32 800 344 380
 458]
Unique values in 'partnerISO': ['W00' 'ARE' 'ZAF' 'TUR' 'ARM' 'ABW' 'FRA' 'SAU' 'ASM' 'DNK' 'QAT' 'ECU'
 'NGA' 'USA' 'ARG' 'UGA' 'HKG' 'ITA' 'MYS']
Unique values in 'partnerDesc': ['World' 'United Arab Emirates' 'South Africa' 'TÃ¼rkiye' 'Armenia' 'Aruba'
 'France' 'Saudi Arabia' 'American Samoa' 'Denmark' 'Qatar' 'Ecuador'
 'Nigeria' 'USA' 'Argentina' 'Uganda' 'China, Hong Kong SAR' 'Italy'
 'Malaysia']
Unique values in 'partner2Code': [0]
Unique values in 'partner2ISO': ['W00']
Unique values in 'partner2Desc': ['World']
Unique values in 'classificationCode': ['H5' 'H6']
Unique values in 'classificationSearchCode': ['HS']
Unique values in 'isOriginalClassification': [ True]
Unique values in 'cmdCode': [  7108 710812 710813 710811]
Unique values in 'cmdDesc': ['Gold (including gold plated with platinum) unwrought or in semi-manufactured forms, or in powder form'
 'Metals; gold, non-monetary, unwrought (but not powder)'
 'Metals; gold, semi-manufactured' 'Metals; gold, non-monetary, powder']
Unique values in 'aggrLevel': [4 6]
Unique values in 'isLeaf': [False  True]
Unique values in 'customsCode': ['C00']
Unique values in 'customsDesc': ['TOTAL CPC']
Unique values in 'mosCode': [0]
Unique values in 'motCode': [   0 1000]
Unique values in 'motDesc': ['TOTAL MOT' 'Air']
Unique values in 'qtyUnitCode': [ 8 -1]
Unique values in 'qtyUnitAbbr': ['kg' nan]
Unique values in 'qty': [2.34891300e+03 0.00000000e+00 2.96945600e+03 2.95755200e+03
 1.19040000e+01 3.82101200e+03 4.05947400e+03 1.23891000e+02
 3.93558200e+03 2.58740000e+01 4.03360000e+03 3.90970800e+03
 2.29714587e+05 1.22620900e+03 2.28355941e+05 1.32437000e+02
 3.68969600e+03 1.17280000e+01 3.66516100e+03 1.28070000e+01
 2.31333500e+03 1.20240000e+01 5.82900000e+00 1.56067000e+02
 2.13941500e+03 1.85619000e+02 3.39053100e+03 5.64480000e+01
 2.77840000e+01 3.28129200e+03 2.50060000e+01 2.35312500e+03
 4.59300000e+00 2.32020300e+03 2.83300000e+01 3.43831000e+03
 3.42489300e+03 1.34160000e+01 3.59669200e+03 1.46715000e+02
 9.18900000e+00 3.41894300e+03 2.18450000e+01 2.74693800e+03
 2.71811600e+03 2.88210000e+01 9.71925000e+02 1.70808000e+02
 1.22100000e+00 7.78701000e+02 2.11950000e+01 2.30494090e+04
 2.30272790e+04 2.21300000e+01 1.08604200e+03 1.05761800e+03
 2.84230000e+01 2.14917000e+03 2.04970700e+03 2.68690000e+01
 7.25930000e+01 2.10937600e+03 9.23830000e+01 2.01699300e+03
 1.10221200e+03 9.12532000e+02 1.89680000e+02 1.54723900e+03
 1.50076600e+03 4.64730000e+01 1.91807100e+03 4.56080000e+01
 1.84236100e+03 3.01020000e+01 2.00976000e+03 1.77084200e+03
 1.02086400e+03 2.83820400e+03 2.74741300e+03 9.07900000e+01
 7.24000000e-01 1.00000000e-03 8.16600000e+01 7.97600000e+01
 1.90000000e+00 1.07130000e+02 2.00000000e-03 1.00000000e-01
 1.06830000e+02 1.03079000e+03]
Unique values in 'isQtyEstimated': [ True False]
Unique values in 'altQtyUnitCode': [-1 15  8]
Unique values in 'altQtyUnitAbbr': [nan 'g' 'kg']
Unique values in 'altQty': [0.0000000e+00 1.2000000e+01 4.3000000e+01 1.3000000e+01 2.6000000e+01
 1.0000000e+01 7.5600000e+00 1.1000000e+01 1.0000000e+00 1.8000000e+01
 9.0000000e+00 8.0000000e+00 7.0000000e+00 6.0000000e+00 9.2440000e+01
 5.0000000e+00 1.4000000e+01 2.0000000e+00 8.1660000e+01 7.9760000e+01
 1.9000000e+00 1.0500000e+02 1.0000000e+02 4.0000000e+00 1.0683000e+02
 3.0000000e+00 3.4000004e+07 3.4000000e+07 1.0307940e+06 1.0307900e+06]
Unique values in 'isAltQtyEstimated': [False]
Unique values in 'netWgt': [0.00000000e+00            nan 3.93558200e+03 3.90970800e+03
 2.28355941e+05 1.85619000e+02 2.30272790e+04 7.24000000e-01
 1.00000000e-03 9.97400000e+01 8.10300000e+01 9.29600000e+01
 1.07000000e+02 7.92300000e+01 7.84300000e+01 8.00000000e-01
 1.11010000e+02 1.10740000e+02 2.70000000e-01 7.98000000e+01
 8.98600000e+01 9.51600000e+01 1.03730000e+02 8.15000000e+01
 1.00790000e+02 9.87900000e+01 2.00000000e+00 8.96100000e+01
 8.16600000e+01 7.97600000e+01 1.90000000e+00 1.07130000e+02
 7.57100000e+01 8.62800000e+01 8.70200000e+01 8.68500000e+01
 1.70000000e-01 8.70500000e+01 7.92600000e+01 1.00000000e-01
 7.91600000e+01 6.51500000e+01 6.76700000e+01 8.11800000e+01
 7.61800000e+01 5.00000000e+00 6.66000000e+01 3.00000000e-01
 1.06830000e+02 7.22200000e+01 5.42400000e+01 9.45300000e+01
 6.05300000e+01 3.40000000e+01 3.68400000e+01 5.75100000e+01
 5.74400000e+01 7.00000000e-02 6.53900000e+01 6.43900000e+01
 1.00000000e+00 7.71800000e+01 6.81300000e+01 5.04200000e+01
 6.51300000e+01 8.04600000e+01 6.10900000e+01 1.93700000e+01
 5.62200000e+01]
Unique values in 'isNetWgtEstimated': [ True False]
Unique values in 'grossWgt': [0]
Unique values in 'isGrossWgtEstimated': [False]
Unique values in 'cifvalue': [ 0. nan]
Unique values in 'fobvalue': [9.22053540e+07 8.36216776e+06 1.16564443e+08 1.16097165e+08
 4.67278000e+05 7.94118188e+06 1.49991832e+08 7.48733320e+06
 1.59854428e+08 4.86329500e+06 1.54991133e+08 1.02537500e+06
 1.58829053e+08 1.53965758e+08 7.76826940e+06 8.22421505e+08
 4.39006100e+06 8.17557296e+08 4.74148000e+05 8.08945605e+06
 1.44837102e+08 4.60380000e+05 1.43873996e+08 5.02726000e+05
 7.81904668e+06 9.08087710e+07 4.71986000e+05 2.28831000e+05
 6.12634100e+06 8.39816130e+07 6.99918325e+06 1.33093519e+08
 2.21585500e+06 1.09065300e+06 1.28805404e+08 9.81607000e+05
 8.01623693e+06 9.23707090e+07 1.80300000e+05 9.10783490e+07
 1.11206000e+06 8.26603408e+06 1.34969063e+08 1.34442406e+08
 5.26657000e+05 1.41186298e+08 5.75923000e+06 3.60718000e+05
 1.34208819e+08 8.57531000e+05 1.54214206e+07 1.07829616e+08
 1.06698245e+08 1.13137100e+06 9.10821055e+06 4.08034230e+07
 7.17087500e+06 5.12700000e+04 3.26914830e+07 8.89795000e+05
 9.12850056e+06 1.33484465e+08 1.32555423e+08 9.29042000e+05
 7.75360081e+06 4.55942620e+07 4.44009850e+07 1.19327700e+06
 7.85842662e+06 9.02265810e+07 8.60509240e+07 1.12803400e+06
 3.04762300e+06 5.98354042e+06 8.85559470e+07 3.87841200e+06
 8.46775350e+07 1.34468006e+07 4.62731150e+07 3.83099630e+07
 7.96315200e+06 9.02175858e+06 3.16239580e+04 8.99013462e+06
 6.49562860e+07 6.30052360e+07 1.95105000e+06 7.98147851e+06
 8.05245820e+07 1.91472900e+06 7.73461250e+07 1.26372800e+06
 6.23497848e+06 8.43738640e+07 7.43435850e+07 1.29566819e+07
 4.28579560e+07 7.13927816e+06 1.19153639e+08 1.15342069e+08
 3.81157000e+06 6.83519190e+06 7.12807790e+06 5.08411466e+06
 5.84785270e+06 4.88665122e+06 6.37921867e+06 6.70178559e+06
 1.27825013e+07 5.42023362e+06 6.96298145e+06 5.69761221e+06
 6.07081362e+06 6.04093824e+06 2.98753860e+04 6.06613178e+06
 4.61648859e+06 3.52814017e+06 1.17674311e+07 6.19142426e+06
 7.70993496e+06 5.29284514e+06 6.52869827e+06 5.31670143e+06
 5.30880810e+06 7.89332900e+03 5.56486981e+06 5.46045259e+06
 1.04417215e+05 6.70235677e+06 6.61258321e+06 8.97735590e+04
 5.94558861e+06 4.70852558e+06 5.15497032e+06 6.13488178e+06
 4.77709178e+06 4.77673228e+06 3.59501000e+02 6.36082178e+06
 6.35843745e+06 2.38432800e+03 4.61512837e+06 5.58332249e+06
 5.42026882e+06 5.97176559e+06 4.73582627e+06 5.65843855e+06
 5.58482467e+06 7.36138860e+04 5.23395096e+06 5.09963855e+06
 4.98571121e+06 1.13927334e+05 6.62982762e+06 4.61923736e+06
 5.12003241e+06 5.07952032e+06 5.06970603e+06 9.81429000e+03
 4.57461747e+06 4.51918086e+06 5.54366090e+04 4.19057075e+06
 5.46549600e+03 4.18510526e+06 3.18226048e+06 3.28522951e+06
 4.31455860e+06 4.03063529e+06 2.83923303e+05 3.54575470e+06
 1.55803870e+04 6.61424723e+06 4.20710069e+06 2.93573040e+06
 5.36311924e+06 3.58242177e+06 1.78069748e+06 2.16709852e+06
 3.33171431e+06 3.32790402e+06 3.81029600e+03 3.91303537e+06
 3.85663379e+06 5.64015730e+04 4.58512875e+06 3.96516019e+06
 2.88533663e+06 3.99388853e+06 3.93593014e+06 5.79583910e+04
 4.80122380e+06 3.81383708e+06 9.87386728e+05 3.52806427e+06]
Unique values in 'primaryValue': [9.22053540e+07 8.36216776e+06 1.16564443e+08 1.16097165e+08
 4.67278000e+05 7.94118188e+06 1.49991832e+08 7.48733320e+06
 1.59854428e+08 4.86329500e+06 1.54991133e+08 1.02537500e+06
 1.58829053e+08 1.53965758e+08 7.76826940e+06 8.22421505e+08
 4.39006100e+06 8.17557296e+08 4.74148000e+05 8.08945605e+06
 1.44837102e+08 4.60380000e+05 1.43873996e+08 5.02726000e+05
 7.81904668e+06 9.08087710e+07 4.71986000e+05 2.28831000e+05
 6.12634100e+06 8.39816130e+07 6.99918325e+06 1.33093519e+08
 2.21585500e+06 1.09065300e+06 1.28805404e+08 9.81607000e+05
 8.01623693e+06 9.23707090e+07 1.80300000e+05 9.10783490e+07
 1.11206000e+06 8.26603408e+06 1.34969063e+08 1.34442406e+08
 5.26657000e+05 1.41186298e+08 5.75923000e+06 3.60718000e+05
 1.34208819e+08 8.57531000e+05 1.54214206e+07 1.07829616e+08
 1.06698245e+08 1.13137100e+06 9.10821055e+06 4.08034230e+07
 7.17087500e+06 5.12700000e+04 3.26914830e+07 8.89795000e+05
 9.12850056e+06 1.33484465e+08 1.32555423e+08 9.29042000e+05
 7.75360081e+06 4.55942620e+07 4.44009850e+07 1.19327700e+06
 7.85842662e+06 9.02265810e+07 8.60509240e+07 1.12803400e+06
 3.04762300e+06 5.98354042e+06 8.85559470e+07 3.87841200e+06
 8.46775350e+07 1.34468006e+07 4.62731150e+07 3.83099630e+07
 7.96315200e+06 9.02175858e+06 3.16239580e+04 8.99013462e+06
 6.49562860e+07 6.30052360e+07 1.95105000e+06 7.98147851e+06
 8.05245820e+07 1.91472900e+06 7.73461250e+07 1.26372800e+06
 6.23497848e+06 8.43738640e+07 7.43435850e+07 1.29566819e+07
 4.28579560e+07 7.13927816e+06 1.19153639e+08 1.15342069e+08
 3.81157000e+06 6.83519190e+06 7.12807790e+06 5.08411466e+06
 5.84785270e+06 4.88665122e+06 6.37921867e+06 6.70178559e+06
 1.27825013e+07 5.42023362e+06 6.96298145e+06 5.69761221e+06
 6.07081362e+06 6.04093824e+06 2.98753860e+04 6.06613178e+06
 4.61648859e+06 3.52814017e+06 1.17674311e+07 6.19142426e+06
 7.70993496e+06 5.29284514e+06 6.52869827e+06 5.31670143e+06
 5.30880810e+06 7.89332900e+03 5.56486981e+06 5.46045259e+06
 1.04417215e+05 6.70235677e+06 6.61258321e+06 8.97735590e+04
 5.94558861e+06 4.70852558e+06 5.15497032e+06 6.13488178e+06
 4.77709178e+06 4.77673228e+06 3.59501000e+02 6.36082178e+06
 6.35843745e+06 2.38432800e+03 4.61512837e+06 5.58332249e+06
 5.42026882e+06 5.97176559e+06 4.73582627e+06 5.65843855e+06
 5.58482467e+06 7.36138860e+04 5.23395096e+06 5.09963855e+06
 4.98571121e+06 1.13927334e+05 6.62982762e+06 4.61923736e+06
 5.12003241e+06 5.07952032e+06 5.06970603e+06 9.81429000e+03
 4.57461747e+06 4.51918086e+06 5.54366090e+04 4.19057075e+06
 5.46549600e+03 4.18510526e+06 3.18226048e+06 3.28522951e+06
 4.31455860e+06 4.03063529e+06 2.83923303e+05 3.54575470e+06
 1.55803870e+04 6.61424723e+06 4.20710069e+06 2.93573040e+06
 5.36311924e+06 3.58242177e+06 1.78069748e+06 2.16709852e+06
 3.33171431e+06 3.32790402e+06 3.81029600e+03 3.91303537e+06
 3.85663379e+06 5.64015730e+04 4.58512875e+06 3.96516019e+06
 2.88533663e+06 3.99388853e+06 3.93593014e+06 5.79583910e+04
 4.80122380e+06 3.81383708e+06 9.87386728e+05 3.52806427e+06]
Unique values in 'legacyEstimationFlag': [6 0]
Unique values in 'isReported': [False  True]
Unique values in 'isAggregate': [ True False]

In [ ]:
# Count how many columns have only one unique value
single_value_columns = combine_df.nunique() == 1
count_single_value_columns = single_value_columns.sum()

print(f"Number of columns with only a single unique value: {count_single_value_columns}")

# Optionally, get the names of these columns
columns_with_single_value = combine_df.columns[single_value_columns].tolist()
print(f"Columns with only a single unique value: {columns_with_single_value}")

Number of columns with only a single unique value: 17
Columns with only a single unique value: ['typeCode', 'freqCode', 'flowCode', 'flowDesc', 'partner2Code', 'partner2ISO', 'partner2Desc', 'classificationSearchCode', 'isOriginalClassification', 'customsCode', 'customsDesc', 'mosCode', 'qtyUnitAbbr', 'isAltQtyEstimated', 'grossWgt', 'isGrossWgtEstimated', 'cifvalue']

In [ ]:
combine_df.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.0,True,0,False,0.0,92205354.0,92205354.0,6,False,True
1,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.0,True,0,False,0.0,92205354.0,92205354.0,6,False,True
2,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.0,True,0,False,0.0,92205354.0,92205354.0,6,False,True
3,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.0,True,0,False,0.0,92205354.0,92205354.0,6,False,True
4,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.0,True,0,False,0.0,92205354.0,92205354.0,6,False,True

In [ ]:
#dropped all the columns which have unique value
new_combine_df = combine_df.drop(['typeCode', 'freqCode', 'flowCode', 'flowDesc', 'partner2Code', 'partner2ISO', 'partner2Desc', 'classificationCode', 'classificationSearchCode', 'isOriginalClassification', 'customsCode', 'customsDesc', 'mosCode', 'qtyUnitAbbr', 'altQtyUnitAbbr', 'isAltQtyEstimated', 'grossWgt', 'isGrossWgtEstimated', 'cifvalue'],axis = 1)

In [ ]:
new_combine_df

,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,partnerCode,partnerISO,partnerDesc,...,isQtyEstimated,altQtyUnitCode,altQty,netWgt,isNetWgtEstimated,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,20170101,2017,1,201701,729,SDN,Sudan,0,W00,World,...,True,-1,0.0,0.00,True,9.220535e+07,9.220535e+07,6,False,True
1,20170101,2017,1,201701,729,SDN,Sudan,784,ARE,United Arab Emirates,...,True,-1,0.0,0.00,True,9.220535e+07,9.220535e+07,6,False,True
2,20170101,2017,1,201701,729,SDN,Sudan,0,W00,World,...,True,-1,0.0,0.00,True,9.220535e+07,9.220535e+07,6,False,True
3,20170101,2017,1,201701,729,SDN,Sudan,784,ARE,United Arab Emirates,...,True,-1,0.0,0.00,True,9.220535e+07,9.220535e+07,6,False,True
4,20170101,2017,1,201701,729,SDN,Sudan,0,W00,World,...,True,-1,0.0,0.00,True,9.220535e+07,9.220535e+07,6,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,20231101,2023,11,202311,894,ZMB,Zambia,784,ARE,United Arab Emirates,...,False,15,1030790.0,19.37,False,9.873867e+05,9.873867e+05,0,False,True
1052,20231201,2023,12,202312,894,ZMB,Zambia,0,W00,World,...,False,15,4.0,56.22,False,3.528064e+06,3.528064e+06,0,False,True
1053,20231201,2023,12,202312,894,ZMB,Zambia,710,ZAF,South Africa,...,False,15,4.0,56.22,False,3.528064e+06,3.528064e+06,0,False,True
1054,20231201,2023,12,202312,894,ZMB,Zambia,0,W00,World,...,False,15,4.0,56.22,False,3.528064e+06,3.528064e+06,0,False,True
1055,20231201,2023,12,202312,894,ZMB,Zambia,710,ZAF,South Africa,...,False,15,4.0,56.22,False,3.528064e+06,3.528064e+06,0,False,True

In [ ]:
#dropped all the columns which have doesn't contribute in analysis
nq = new_combine_df.drop(['refPeriodId','reporterCode','reporterISO','partnerCode','partnerISO','cmdDesc','aggrLevel','isLeaf'],axis=1)

In [ ]:
nq.head()

,refYear,refMonth,period,reporterDesc,partnerDesc,cmdCode,motCode,motDesc,qtyUnitCode,qty,isQtyEstimated,altQtyUnitCode,altQty,netWgt,isNetWgtEstimated,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,2017,1,201701,Sudan,World,7108,0,TOTAL MOT,8,2348.913,True,-1,0.0,0.0,True,92205354.0,92205354.0,6,False,True
1,2017,1,201701,Sudan,United Arab Emirates,7108,0,TOTAL MOT,8,2348.913,True,-1,0.0,0.0,True,92205354.0,92205354.0,6,False,True
2,2017,1,201701,Sudan,World,7108,1000,Air,8,2348.913,True,-1,0.0,0.0,True,92205354.0,92205354.0,6,False,True
3,2017,1,201701,Sudan,United Arab Emirates,7108,1000,Air,8,2348.913,True,-1,0.0,0.0,True,92205354.0,92205354.0,6,False,True
4,2017,1,201701,Sudan,World,710812,0,TOTAL MOT,8,2348.913,True,-1,0.0,0.0,True,92205354.0,92205354.0,6,False,True

In [ ]:
#dropped all the columns which have doesn't contribute in analysis
mq = nq.drop(['legacyEstimationFlag', 'isReported', 'isAggregate','fobvalue','cmdCode', 'motCode', 'motDesc', 'qtyUnitCode','period','isQtyEstimated','altQtyUnitCode','isNetWgtEstimated'],axis = 1)

In [ ]:
mq.head()

,refYear,refMonth,reporterDesc,partnerDesc,qty,altQty,netWgt,primaryValue
0,2017,1,Sudan,World,2348.913,0.0,0.0,92205354.0
1,2017,1,Sudan,United Arab Emirates,2348.913,0.0,0.0,92205354.0
2,2017,1,Sudan,World,2348.913,0.0,0.0,92205354.0
3,2017,1,Sudan,United Arab Emirates,2348.913,0.0,0.0,92205354.0
4,2017,1,Sudan,World,2348.913,0.0,0.0,92205354.0

In [ ]:
# Dictionary mapping (year, month) to gold price per kg in USD
gold_prices = {
    (2017, 1): 44459.00,
    (2017, 2): 44268.00,
    (2017, 3): 44062.00,
    (2017, 4): 44200.00,
    (2017, 5): 44700.00,
    (2017, 6): 44900.00,
    (2017, 7): 45500.00,
    (2017, 8): 45800.00,
    (2017, 9): 45600.00,
    (2017, 10): 45400.00,
    (2017, 11): 46000.00,
    (2017, 12): 46500.00,
    (2018, 1): 46200.00,
    (2018, 2): 46800.00,
    (2018, 3): 46900.00,
    (2018, 4): 47000.00,
    (2018, 5): 47300.00,
    (2018, 6): 47500.00,
    (2018, 7): 47600.00,
    (2018, 8): 47700.00,
    (2018, 9): 47800.00,
    (2018, 10): 47900.00,
    (2018, 11): 48000.00,
    (2018, 12): 48100.00,
    (2019, 1): 48200.00,
    (2019, 2): 48300.00,
    (2019, 3): 48400.00,
    (2019, 4): 48500.00,
    (2019, 5): 48600.00,
    (2019, 6): 48700.00,
    (2019, 7): 49000.00,
    (2019, 8): 49300.00,
    (2019, 9): 49600.00,
    (2019, 10): 49800.00,
    (2019, 11): 50000.00,
    (2019, 12): 50200.00,
    (2020, 1): 50400.00,
    (2020, 2): 50600.00,
    (2020, 3): 51000.00,
    (2020, 4): 51500.00,
    (2020, 5): 51800.00,
    (2020, 6): 52000.00,
    (2020, 7): 62566.00,
    (2020, 8): 62800.00,
    (2020, 9): 62900.00,
    (2020, 10): 62500.00,
    (2020, 11): 58000.00,
    (2020, 12): 61000.00,
    (2021, 1): 60000.00,
    (2021, 2): 58000.00,
    (2021, 3): 57000.00,
    (2021, 4): 56000.00,
    (2021, 5): 55000.00,
    (2021, 6): 53000.00,
    (2021, 7): 52000.00,
    (2021, 8): 51000.00,
    (2021, 9): 50000.00,
    (2021, 10): 49000.00,
    (2021, 11): 48000.00,
    (2021, 12): 47000.00,
    (2022, 1): 46500.00,
    (2022, 2): 47500.00,
    (2022, 3): 48500.00,
    (2022, 4): 49500.00,
    (2022, 5): 50500.00,
    (2022, 6): 51500.00,
    (2022, 7): 52500.00,
    (2022, 8): 53500.00,
    (2022, 9): 54500.00,
    (2022, 10): 55500.00,
    (2022, 11): 56500.00,
    (2022, 12): 57500.00,
    (2023, 1): 58000.00,
    (2023, 2): 59000.00,
    (2023, 3): 60000.00,
    (2023, 4): 61000.00,
    (2023, 5): 62000.00,
    (2023, 6): 63000.00,
    (2023, 7): 64000.00,
    (2023, 8): 65000.00,
    (2023, 9): 66000.00,
    (2023, 10): 67000.00,
    (2023, 11): 68000.00,
    (2023, 12): 69000.00
}

In [ ]:
# Replace NaN with 0 in specific columns
mq[['qty', 'altQty', 'netWgt']] = mq[['qty', 'altQty', 'netWgt']].fillna(0)

# Updated function with debugging
def determine_effective_qty(row, gold_prices):
    # Extract the values for comparison
    values = [row['qty'], row['altQty'], row['netWgt']]
    print(f"Row values: {values}")  # Debug: print row values

    # Find the maximum value
    max_value = max(values)

    # Check if max_value is invalid (0)
    if max_value == 0:
        # Check if primaryValue is valid
        if not pd.isna(row['primaryValue']) and row['primaryValue'] > 0:
            # Fetch the gold price for the given year and month
            price = gold_prices.get((row['refYear'], row['refMonth']))
            print(f"Year: {row['refYear']}, Month: {row['refMonth']}, Price: {price}")  # Debug: gold price lookup
            if price:
                # Calculate effective_qty using primaryValue and gold price
                result = row['primaryValue'] / price
                print(f"Effective qty (primaryValue / price): {result}")  # Debug: calculated value
                return result
            else:
                print(f"Gold price not found for {(row['refYear'], row['refMonth'])}")  # Debug: missing price
                return 0  # Return 0 if price is missing
    print(f"Returning max_value: {max_value}")  # Debug: returning max_value
    return max_value  # Return max_value if it's valid

In [ ]:
# Apply the function to the DataFrame
mq['effective_qty'] = mq.apply(determine_effective_qty, axis=1, args=(gold_prices,))

Row values: [2348.913, 0.0, 0.0]
Returning max_value: 2348.913
Row values: [2348.913, 0.0, 0.0]
Returning max_value: 2348.913
Row values: [2348.913, 0.0, 0.0]
Returning max_value: 2348.913
Row values: [2348.913, 0.0, 0.0]
Returning max_value: 2348.913
Row values: [2348.913, 0.0, 0.0]
Returning max_value: 2348.913
Row values: [2348.913, 0.0, 0.0]
Returning max_value: 2348.913
Row values: [2348.913, 0.0, 0.0]
Returning max_value: 2348.913
Row values: [2348.913, 0.0, 0.0]
Returning max_value: 2348.913
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 1, Price: 44459.0
Effective qty (primaryValue / price): 188.08717613981423
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 1, Price: 44459.0
Effective qty (primaryValue / price): 188.08717613981423
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 1, Price: 44459.0
Effective qty (primaryValue / price): 188.08717613981423
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 1, Price: 44459.0
Effective qty (primaryValue / price): 188.08717613981423
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [2969.456, 0.0, 0.0]
Returning max_value: 2969.456
Row values: [2957.552, 0.0, 0.0]
Returning max_value: 2957.552
Row values: [11.904, 0.0, 0.0]
Returning max_value: 11.904
Row values: [2969.456, 0.0, 0.0]
Returning max_value: 2969.456
Row values: [2957.552, 0.0, 0.0]
Returning max_value: 2957.552
Row values: [11.904, 0.0, 0.0]
Returning max_value: 11.904
Row values: [2969.456, 0.0, 0.0]
Returning max_value: 2969.456
Row values: [2957.552, 0.0, 0.0]
Returning max_value: 2957.552
Row values: [11.904, 0.0, 0.0]
Returning max_value: 11.904
Row values: [2969.456, 0.0, 0.0]
Returning max_value: 2969.456
Row values: [2957.552, 0.0, 0.0]
Returning max_value: 2957.552
Row values: [11.904, 0.0, 0.0]
Returning max_value: 11.904
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 2, Price: 44268.0
Effective qty (primaryValue / price): 179.38876572241801
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 2, Price: 44268.0
Effective qty (primaryValue / price): 179.38876572241801
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 2, Price: 44268.0
Effective qty (primaryValue / price): 179.38876572241801
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 2, Price: 44268.0
Effective qty (primaryValue / price): 179.38876572241801
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [3821.012, 0.0, 0.0]
Returning max_value: 3821.012
Row values: [3821.012, 0.0, 0.0]
Returning max_value: 3821.012
Row values: [3821.012, 0.0, 0.0]
Returning max_value: 3821.012
Row values: [3821.012, 0.0, 0.0]
Returning max_value: 3821.012
Row values: [3821.012, 0.0, 0.0]
Returning max_value: 3821.012
Row values: [3821.012, 0.0, 0.0]
Returning max_value: 3821.012
Row values: [3821.012, 0.0, 0.0]
Returning max_value: 3821.012
Row values: [3821.012, 0.0, 0.0]
Returning max_value: 3821.012
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 3, Price: 44062.0
Effective qty (primaryValue / price): 169.9272207117244
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 3, Price: 44062.0
Effective qty (primaryValue / price): 169.9272207117244
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 3, Price: 44062.0
Effective qty (primaryValue / price): 169.9272207117244
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 3, Price: 44062.0
Effective qty (primaryValue / price): 169.9272207117244
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [4059.474, 0.0, 0.0]
Returning max_value: 4059.474
Row values: [123.891, 0.0, 0.0]
Returning max_value: 123.891
Row values: [3935.582, 0.0, 3935.582]
Returning max_value: 3935.582
Row values: [4059.474, 0.0, 0.0]
Returning max_value: 4059.474
Row values: [123.891, 0.0, 0.0]
Returning max_value: 123.891
Row values: [3935.582, 0.0, 3935.582]
Returning max_value: 3935.582
Row values: [25.874, 0.0, 0.0]
Returning max_value: 25.874
Row values: [25.874, 0.0, 0.0]
Returning max_value: 25.874
Row values: [25.874, 0.0, 0.0]
Returning max_value: 25.874
Row values: [25.874, 0.0, 0.0]
Returning max_value: 25.874
Row values: [4033.6, 0.0, 0.0]
Returning max_value: 4033.6
Row values: [123.891, 0.0, 0.0]
Returning max_value: 123.891
Row values: [3909.708, 0.0, 3909.708]
Returning max_value: 3909.708
Row values: [4033.6, 0.0, 0.0]
Returning max_value: 4033.6
Row values: [123.891, 0.0, 0.0]
Returning max_value: 123.891
Row values: [3909.708, 0.0, 3909.708]
Returning max_value: 3909.708
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 4, Price: 44200.0
Effective qty (primaryValue / price): 175.75270138009049
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 4, Price: 44200.0
Effective qty (primaryValue / price): 175.75270138009049
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 4, Price: 44200.0
Effective qty (primaryValue / price): 175.75270138009049
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 4, Price: 44200.0
Effective qty (primaryValue / price): 175.75270138009049
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [229714.587, 0.0, 0.0]
Returning max_value: 229714.587
Row values: [1226.209, 0.0, 0.0]
Returning max_value: 1226.209
Row values: [228355.941, 0.0, 228355.941]
Returning max_value: 228355.941
Row values: [132.437, 0.0, 0.0]
Returning max_value: 132.437
Row values: [229714.587, 0.0, 0.0]
Returning max_value: 229714.587
Row values: [1226.209, 0.0, 0.0]
Returning max_value: 1226.209
Row values: [228355.941, 0.0, 228355.941]
Returning max_value: 228355.941
Row values: [132.437, 0.0, 0.0]
Returning max_value: 132.437
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 5, Price: 44700.0
Effective qty (primaryValue / price): 180.97217123042503
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 5, Price: 44700.0
Effective qty (primaryValue / price): 180.97217123042503
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 5, Price: 44700.0
Effective qty (primaryValue / price): 180.97217123042503
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 5, Price: 44700.0
Effective qty (primaryValue / price): 180.97217123042503
Row values: [0.0, 43.0, 0.0]
Returning max_value: 43.0
Row values: [0.0, 43.0, 0.0]
Returning max_value: 43.0
Row values: [0.0, 43.0, 0.0]
Returning max_value: 43.0
Row values: [0.0, 43.0, 0.0]
Returning max_value: 43.0
Row values: [229714.587, 0.0, 0.0]
Returning max_value: 229714.587
Row values: [1226.209, 0.0, 0.0]
Returning max_value: 1226.209
Row values: [228355.941, 0.0, 228355.941]
Returning max_value: 228355.941
Row values: [132.437, 0.0, 0.0]
Returning max_value: 132.437
Row values: [229714.587, 0.0, 0.0]
Returning max_value: 229714.587
Row values: [1226.209, 0.0, 0.0]
Returning max_value: 1226.209
Row values: [228355.941, 0.0, 228355.941]
Returning max_value: 228355.941
Row values: [132.437, 0.0, 0.0]
Returning max_value: 132.437
Row values: [3689.696, 0.0, 0.0]
Returning max_value: 3689.696
Row values: [11.728, 0.0, 0.0]
Returning max_value: 11.728
Row values: [3665.161, 0.0, 0.0]
Returning max_value: 3665.161
Row values: [12.807, 0.0, 0.0]
Returning max_value: 12.807
Row values: [3689.696, 0.0, 0.0]
Returning max_value: 3689.696
Row values: [11.728, 0.0, 0.0]
Returning max_value: 11.728
Row values: [3665.161, 0.0, 0.0]
Returning max_value: 3665.161
Row values: [12.807, 0.0, 0.0]
Returning max_value: 12.807
Row values: [3689.696, 0.0, 0.0]
Returning max_value: 3689.696
Row values: [11.728, 0.0, 0.0]
Returning max_value: 11.728
Row values: [3665.161, 0.0, 0.0]
Returning max_value: 3665.161
Row values: [12.807, 0.0, 0.0]
Returning max_value: 12.807
Row values: [3689.696, 0.0, 0.0]
Returning max_value: 3689.696
Row values: [11.728, 0.0, 0.0]
Returning max_value: 11.728
Row values: [3665.161, 0.0, 0.0]
Returning max_value: 3665.161
Row values: [12.807, 0.0, 0.0]
Returning max_value: 12.807
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 6, Price: 44900.0
Effective qty (primaryValue / price): 174.1435786636971
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 6, Price: 44900.0
Effective qty (primaryValue / price): 174.1435786636971
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 6, Price: 44900.0
Effective qty (primaryValue / price): 174.1435786636971
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 6, Price: 44900.0
Effective qty (primaryValue / price): 174.1435786636971
Row values: [0.0, 13.0, 0.0]
Returning max_value: 13.0
Row values: [0.0, 13.0, 0.0]
Returning max_value: 13.0
Row values: [0.0, 13.0, 0.0]
Returning max_value: 13.0
Row values: [0.0, 13.0, 0.0]
Returning max_value: 13.0
Row values: [2313.335, 0.0, 0.0]
Returning max_value: 2313.335
Row values: [12.024, 0.0, 0.0]
Returning max_value: 12.024
Row values: [5.829, 0.0, 0.0]
Returning max_value: 5.829
Row values: [156.067, 0.0, 0.0]
Returning max_value: 156.067
Row values: [2139.415, 0.0, 0.0]
Returning max_value: 2139.415
Row values: [2313.335, 0.0, 0.0]
Returning max_value: 2313.335
Row values: [12.024, 0.0, 0.0]
Returning max_value: 12.024
Row values: [5.829, 0.0, 0.0]
Returning max_value: 5.829
Row values: [156.067, 0.0, 0.0]
Returning max_value: 156.067
Row values: [2139.415, 0.0, 0.0]
Returning max_value: 2139.415
Row values: [185.619, 0.0, 185.619]
Returning max_value: 185.619
Row values: [185.619, 0.0, 185.619]
Returning max_value: 185.619
Row values: [185.619, 0.0, 185.619]
Returning max_value: 185.619
Row values: [185.619, 0.0, 185.619]
Returning max_value: 185.619
Row values: [185.619, 0.0, 185.619]
Returning max_value: 185.619
Row values: [185.619, 0.0, 185.619]
Returning max_value: 185.619
Row values: [185.619, 0.0, 185.619]
Returning max_value: 185.619
Row values: [185.619, 0.0, 185.619]
Returning max_value: 185.619
Row values: [2313.335, 0.0, 0.0]
Returning max_value: 2313.335
Row values: [12.024, 0.0, 0.0]
Returning max_value: 12.024
Row values: [5.829, 0.0, 0.0]
Returning max_value: 5.829
Row values: [156.067, 0.0, 0.0]
Returning max_value: 156.067
Row values: [2139.415, 0.0, 0.0]
Returning max_value: 2139.415
Row values: [2313.335, 0.0, 0.0]
Returning max_value: 2313.335
Row values: [12.024, 0.0, 0.0]
Returning max_value: 12.024
Row values: [5.829, 0.0, 0.0]
Returning max_value: 5.829
Row values: [156.067, 0.0, 0.0]
Returning max_value: 156.067
Row values: [2139.415, 0.0, 0.0]
Returning max_value: 2139.415
Row values: [3390.531, 0.0, 0.0]
Returning max_value: 3390.531
Row values: [56.448, 0.0, 0.0]
Returning max_value: 56.448
Row values: [27.784, 0.0, 0.0]
Returning max_value: 27.784
Row values: [3281.292, 0.0, 0.0]
Returning max_value: 3281.292
Row values: [25.006, 0.0, 0.0]
Returning max_value: 25.006
Row values: [3390.531, 0.0, 0.0]
Returning max_value: 3390.531
Row values: [56.448, 0.0, 0.0]
Returning max_value: 56.448
Row values: [27.784, 0.0, 0.0]
Returning max_value: 27.784
Row values: [3281.292, 0.0, 0.0]
Returning max_value: 3281.292
Row values: [25.006, 0.0, 0.0]
Returning max_value: 25.006
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 8, Price: 45800.0
Effective qty (primaryValue / price): 175.02700722707422
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 8, Price: 45800.0
Effective qty (primaryValue / price): 175.02700722707422
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 8, Price: 45800.0
Effective qty (primaryValue / price): 175.02700722707422
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 8, Price: 45800.0
Effective qty (primaryValue / price): 175.02700722707422
Row values: [0.0, 13.0, 0.0]
Returning max_value: 13.0
Row values: [0.0, 13.0, 0.0]
Returning max_value: 13.0
Row values: [0.0, 13.0, 0.0]
Returning max_value: 13.0
Row values: [0.0, 13.0, 0.0]
Returning max_value: 13.0
Row values: [3390.531, 0.0, 0.0]
Returning max_value: 3390.531
Row values: [56.448, 0.0, 0.0]
Returning max_value: 56.448
Row values: [27.784, 0.0, 0.0]
Returning max_value: 27.784
Row values: [3281.292, 0.0, 0.0]
Returning max_value: 3281.292
Row values: [25.006, 0.0, 0.0]
Returning max_value: 25.006
Row values: [3390.531, 0.0, 0.0]
Returning max_value: 3390.531
Row values: [56.448, 0.0, 0.0]
Returning max_value: 56.448
Row values: [27.784, 0.0, 0.0]
Returning max_value: 27.784
Row values: [3281.292, 0.0, 0.0]
Returning max_value: 3281.292
Row values: [25.006, 0.0, 0.0]
Returning max_value: 25.006
Row values: [2353.125, 0.0, 0.0]
Returning max_value: 2353.125
Row values: [4.593, 0.0, 0.0]
Returning max_value: 4.593
Row values: [2320.203, 0.0, 0.0]
Returning max_value: 2320.203
Row values: [28.33, 0.0, 0.0]
Returning max_value: 28.33
Row values: [2353.125, 0.0, 0.0]
Returning max_value: 2353.125
Row values: [4.593, 0.0, 0.0]
Returning max_value: 4.593
Row values: [2320.203, 0.0, 0.0]
Returning max_value: 2320.203
Row values: [28.33, 0.0, 0.0]
Returning max_value: 28.33
Row values: [2353.125, 0.0, 0.0]
Returning max_value: 2353.125
Row values: [4.593, 0.0, 0.0]
Returning max_value: 4.593
Row values: [2320.203, 0.0, 0.0]
Returning max_value: 2320.203
Row values: [28.33, 0.0, 0.0]
Returning max_value: 28.33
Row values: [2353.125, 0.0, 0.0]
Returning max_value: 2353.125
Row values: [4.593, 0.0, 0.0]
Returning max_value: 4.593
Row values: [2320.203, 0.0, 0.0]
Returning max_value: 2320.203
Row values: [28.33, 0.0, 0.0]
Returning max_value: 28.33
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 9, Price: 45600.0
Effective qty (primaryValue / price): 181.27267717105264
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 9, Price: 45600.0
Effective qty (primaryValue / price): 181.27267717105264
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 9, Price: 45600.0
Effective qty (primaryValue / price): 181.27267717105264
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 9, Price: 45600.0
Effective qty (primaryValue / price): 181.27267717105264
Row values: [0.0, 13.0, 0.0]
Returning max_value: 13.0
Row values: [0.0, 13.0, 0.0]
Returning max_value: 13.0
Row values: [0.0, 13.0, 0.0]
Returning max_value: 13.0
Row values: [0.0, 13.0, 0.0]
Returning max_value: 13.0
Row values: [3438.31, 0.0, 0.0]
Returning max_value: 3438.31
Row values: [3424.893, 0.0, 0.0]
Returning max_value: 3424.893
Row values: [13.416, 0.0, 0.0]
Returning max_value: 13.416
Row values: [3438.31, 0.0, 0.0]
Returning max_value: 3438.31
Row values: [3424.893, 0.0, 0.0]
Returning max_value: 3424.893
Row values: [13.416, 0.0, 0.0]
Returning max_value: 13.416
Row values: [3438.31, 0.0, 0.0]
Returning max_value: 3438.31
Row values: [3424.893, 0.0, 0.0]
Returning max_value: 3424.893
Row values: [13.416, 0.0, 0.0]
Returning max_value: 13.416
Row values: [3438.31, 0.0, 0.0]
Returning max_value: 3438.31
Row values: [3424.893, 0.0, 0.0]
Returning max_value: 3424.893
Row values: [13.416, 0.0, 0.0]
Returning max_value: 13.416
Row values: [3596.692, 0.0, 0.0]
Returning max_value: 3596.692
Row values: [146.715, 0.0, 0.0]
Returning max_value: 146.715
Row values: [9.189, 0.0, 0.0]
Returning max_value: 9.189
Row values: [3418.943, 0.0, 0.0]
Returning max_value: 3418.943
Row values: [21.845, 0.0, 0.0]
Returning max_value: 21.845
Row values: [3596.692, 0.0, 0.0]
Returning max_value: 3596.692
Row values: [146.715, 0.0, 0.0]
Returning max_value: 146.715
Row values: [9.189, 0.0, 0.0]
Returning max_value: 9.189
Row values: [3418.943, 0.0, 0.0]
Returning max_value: 3418.943
Row values: [21.845, 0.0, 0.0]
Returning max_value: 21.845
Row values: [3596.692, 0.0, 0.0]
Returning max_value: 3596.692
Row values: [146.715, 0.0, 0.0]
Returning max_value: 146.715
Row values: [9.189, 0.0, 0.0]
Returning max_value: 9.189
Row values: [3418.943, 0.0, 0.0]
Returning max_value: 3418.943
Row values: [21.845, 0.0, 0.0]
Returning max_value: 21.845
Row values: [3596.692, 0.0, 0.0]
Returning max_value: 3596.692
Row values: [146.715, 0.0, 0.0]
Returning max_value: 146.715
Row values: [9.189, 0.0, 0.0]
Returning max_value: 9.189
Row values: [3418.943, 0.0, 0.0]
Returning max_value: 3418.943
Row values: [21.845, 0.0, 0.0]
Returning max_value: 21.845
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 11, Price: 46000.0
Effective qty (primaryValue / price): 335.2482730652174
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 11, Price: 46000.0
Effective qty (primaryValue / price): 335.2482730652174
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 11, Price: 46000.0
Effective qty (primaryValue / price): 335.2482730652174
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 11, Price: 46000.0
Effective qty (primaryValue / price): 335.2482730652174
Row values: [0.0, 26.0, 0.0]
Returning max_value: 26.0
Row values: [0.0, 26.0, 0.0]
Returning max_value: 26.0
Row values: [0.0, 26.0, 0.0]
Returning max_value: 26.0
Row values: [0.0, 26.0, 0.0]
Returning max_value: 26.0
Row values: [2746.938, 0.0, 0.0]
Returning max_value: 2746.938
Row values: [2718.116, 0.0, 0.0]
Returning max_value: 2718.116
Row values: [28.821, 0.0, 0.0]
Returning max_value: 28.821
Row values: [2746.938, 0.0, 0.0]
Returning max_value: 2746.938
Row values: [2718.116, 0.0, 0.0]
Returning max_value: 2718.116
Row values: [28.821, 0.0, 0.0]
Returning max_value: 28.821
Row values: [2746.938, 0.0, 0.0]
Returning max_value: 2746.938
Row values: [2718.116, 0.0, 0.0]
Returning max_value: 2718.116
Row values: [28.821, 0.0, 0.0]
Returning max_value: 28.821
Row values: [2746.938, 0.0, 0.0]
Returning max_value: 2746.938
Row values: [2718.116, 0.0, 0.0]
Returning max_value: 2718.116
Row values: [28.821, 0.0, 0.0]
Returning max_value: 28.821
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 12, Price: 46500.0
Effective qty (primaryValue / price): 195.87549569892474
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 12, Price: 46500.0
Effective qty (primaryValue / price): 195.87549569892474
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 12, Price: 46500.0
Effective qty (primaryValue / price): 195.87549569892474
Row values: [0.0, 0.0, 0.0]
Year: 2017, Month: 12, Price: 46500.0
Effective qty (primaryValue / price): 195.87549569892474
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [0.0, 12.0, 0.0]
Returning max_value: 12.0
Row values: [971.925, 0.0, 0.0]
Returning max_value: 971.925
Row values: [170.808, 0.0, 0.0]
Returning max_value: 170.808
Row values: [1.221, 0.0, 0.0]
Returning max_value: 1.221
Row values: [778.701, 0.0, 0.0]
Returning max_value: 778.701
Row values: [21.195, 0.0, 0.0]
Returning max_value: 21.195
Row values: [971.925, 0.0, 0.0]
Returning max_value: 971.925
Row values: [170.808, 0.0, 0.0]
Returning max_value: 170.808
Row values: [1.221, 0.0, 0.0]
Returning max_value: 1.221
Row values: [778.701, 0.0, 0.0]
Returning max_value: 778.701
Row values: [21.195, 0.0, 0.0]
Returning max_value: 21.195
Row values: [0.0, 0.0, 0.0]
Year: 2018, Month: 1, Price: 46200.0
Effective qty (primaryValue / price): 197.58659222943726
Row values: [0.0, 0.0, 0.0]
Year: 2018, Month: 1, Price: 46200.0
Effective qty (primaryValue / price): 197.58659222943726
Row values: [0.0, 0.0, 0.0]
Year: 2018, Month: 1, Price: 46200.0
Effective qty (primaryValue / price): 197.58659222943726
Row values: [0.0, 0.0, 0.0]
Year: 2018, Month: 1, Price: 46200.0
Effective qty (primaryValue / price): 197.58659222943726
Row values: [23049.409, 0.0, 0.0]
Returning max_value: 23049.409
Row values: [23027.279, 0.0, 23027.279]
Returning max_value: 23027.279
Row values: [22.13, 0.0, 0.0]
Returning max_value: 22.13
Row values: [23049.409, 0.0, 0.0]
Returning max_value: 23049.409
Row values: [23027.279, 0.0, 23027.279]
Returning max_value: 23027.279
Row values: [22.13, 0.0, 0.0]
Returning max_value: 22.13
Row values: [0.0, 0.0, 0.0]
Year: 2018, Month: 2, Price: 46800.0

In [ ]:
# Display the updated DataFrame
mq

,refYear,refMonth,reporterDesc,partnerDesc,qty,altQty,netWgt,primaryValue,effective_qty
0,2017,1,Sudan,World,2348.913,0.0,0.00,9.220535e+07,2348.913
1,2017,1,Sudan,United Arab Emirates,2348.913,0.0,0.00,9.220535e+07,2348.913
2,2017,1,Sudan,World,2348.913,0.0,0.00,9.220535e+07,2348.913
3,2017,1,Sudan,United Arab Emirates,2348.913,0.0,0.00,9.220535e+07,2348.913
4,2017,1,Sudan,World,2348.913,0.0,0.00,9.220535e+07,2348.913
...,...,...,...,...,...,...,...,...,...
1051,2023,11,Zambia,United Arab Emirates,1030.790,1030790.0,19.37,9.873867e+05,1030790.000
1052,2023,12,Zambia,World,0.000,4.0,56.22,3.528064e+06,56.220
1053,2023,12,Zambia,South Africa,0.000,4.0,56.22,3.528064e+06,56.220
1054,2023,12,Zambia,World,0.000,4.0,56.22,3.528064e+06,56.220
1055,2023,12,Zambia,South Africa,0.000,4.0,56.22,3.528064e+06,56.220

In [ ]:
# Dropping the specified columns from the DataFrame
mq = mq.drop(columns=['qty', 'altQty', 'netWgt'], errors='ignore')

In [ ]:
# Remove duplicates and exclude rows where `partnerDesc` is "World"
mq_cleaned = mq.drop_duplicates()
mq_cleaned = mq_cleaned[mq_cleaned['partnerDesc'] != 'World']

In [ ]:
mq_cleaned

,refYear,refMonth,reporterDesc,partnerDesc,primaryValue,effective_qty
1,2017,1,Sudan,United Arab Emirates,9.220535e+07,2.348913e+03
9,2017,1,Zambia,South Africa,8.362168e+06,1.880872e+02
13,2017,1,Zambia,South Africa,8.362168e+06,1.200000e+01
17,2017,2,Sudan,United Arab Emirates,1.160972e+08,2.957552e+03
18,2017,2,Sudan,TÃ¼rkiye,4.672780e+05,1.190400e+01
...,...,...,...,...,...,...
980,2023,10,Zambia,United Arab Emirates,5.795839e+04,8.650506e-01
985,2023,11,Zambia,South Africa,3.813837e+06,6.109000e+01
986,2023,11,Zambia,United Arab Emirates,9.873867e+05,1.030790e+06
991,2023,12,Zambia,South Africa,3.528064e+06,5.622000e+01
999,2023,10,Zambia,United Arab Emirates,5.795839e+04,1.000000e+00

In [ ]:
# Group by refYear, reporterDesc, and partnerDesc
grouped = mq_cleaned.groupby(['refYear', 'reporterDesc', 'partnerDesc'])

# Function to check the condition for each group and sub-group based on refMonth
def check_scenarios(group):
    # Group by refMonth within each main group
    subgroups = group.groupby('refMonth')

    results = []
    for _, subgroup in subgroups:
        first_entry = subgroup['primaryValue'].iloc[0]
        sum_of_others = subgroup['primaryValue'].iloc[1:].sum()
        # Add a column indicating whether the condition holds
        subgroup['is_sum_valid'] = first_entry == sum_of_others
        results.append(subgroup)

    # Combine the results for all subgroups
    return pd.concat(results)

# Apply the function to each main group
validated_df = grouped.apply(check_scenarios).reset_index(drop=True)

# Remove the grouping columns manually if needed
validated_df = validated_df.loc[:, ~validated_df.columns.duplicated()]

# Check if any True is available in the is_sum_valid column
true_values = validated_df[validated_df['is_sum_valid'] == True]

#Display rows with True values
#print(true_values)

 # Display the DataFrame with the validation result
print(validated_df)

     refYear  refMonth reporterDesc           partnerDesc  primaryValue  \
0       2017         8        Sudan        American Samoa   2215855.000
1       2017         4        Sudan               Armenia   4863295.000
2       2017         5        Sudan                 Aruba   4390061.000
3       2017         6        Sudan                 Aruba    460380.000
4       2017         7        Sudan                 Aruba    228831.000
..       ...       ...          ...                   ...           ...
201     2023         5       Zambia  United Arab Emirates      3810.296
202     2023         6       Zambia  United Arab Emirates     56401.573
203     2023        10       Zambia  United Arab Emirates     57958.391
204     2023        10       Zambia  United Arab Emirates     57958.391
205     2023        11       Zambia  United Arab Emirates    987386.728

     effective_qty  is_sum_valid
0     5.644800e+01         False
1     1.238910e+02         False
2     1.226209e+03         False
3     1.172800e+01         False
4     5.829000e+00         False
..             ...           ...
201   1.000000e+00         False
202   1.000000e+00         False
203   8.650506e-01          True
204   1.000000e+00          True
205   1.030790e+06         False

[206 rows x 7 columns]

C:\Users\abres\AppData\Local\Temp\ipykernel_16152\606084741.py:21: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  validated_df = grouped.apply(check_scenarios).reset_index(drop=True)

In [ ]:
import pandas as pd

# Function to apply the filtering logic per group
def resolve_conflicts(group):
    # Separate true and false rows
    true_rows = group[group['is_sum_valid'] == True]
    false_rows = group[group['is_sum_valid'] == False]

    # If no true rows or just one, no special logic needed
    if len(true_rows) <= 1:
        return pd.concat([true_rows, false_rows], ignore_index=True)

    # Multiple true rows: keep only the ones with the max primaryValue
    max_val = true_rows['primaryValue'].max()
    top_rows = true_rows[true_rows['primaryValue'] == max_val]

    # If multiple rows have the same max primaryValue, keep only the first one
    if len(top_rows) > 1:
        # Sort top_rows by some stable criterion (like original index order) to get the first occurrence
        top_rows = top_rows.sort_index()  # ensure we respect original order
        top_rows = top_rows.iloc[[0]]  # keep only the first

    # Combine the selected top row(s) with the unchanged false rows
    combined = pd.concat([top_rows, false_rows], ignore_index=True)
    return combined

# Apply the logic per group of refYear, refMonth, reporterDesc, partnerDesc
group_cols = ['refYear', 'refMonth', 'reporterDesc', 'partnerDesc']
result_df = validated_df.groupby(group_cols, group_keys=False).apply(resolve_conflicts).reset_index(drop=True)

print(result_df)

     refYear  refMonth reporterDesc           partnerDesc  primaryValue  \
0       2017         1        Sudan  United Arab Emirates  9.220535e+07
1       2017         1       Zambia          South Africa  8.362168e+06
2       2017         2        Sudan               TÃ¼rkiye  4.672780e+05
3       2017         2        Sudan  United Arab Emirates  1.160972e+08
4       2017         2       Zambia          South Africa  7.941182e+06
..       ...       ...          ...                   ...           ...
151     2023        10       Zambia          South Africa  3.935930e+06
152     2023        10       Zambia  United Arab Emirates  5.795839e+04
153     2023        11       Zambia          South Africa  3.813837e+06
154     2023        11       Zambia  United Arab Emirates  9.873867e+05
155     2023        12       Zambia          South Africa  3.528064e+06

     effective_qty  is_sum_valid
0     2.348913e+03         False
1     1.880872e+02          True
2     1.190400e+01         False
3     2.957552e+03         False
4     1.793888e+02          True
..             ...           ...
151   6.513000e+01         False
152   8.650506e-01          True
153   6.109000e+01         False
154   1.030790e+06         False
155   5.622000e+01         False

[156 rows x 7 columns]

C:\Users\abres\AppData\Local\Temp\ipykernel_16152\670374937.py:32: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result_df = validated_df.groupby(group_cols, group_keys=False).apply(resolve_conflicts).reset_index(drop=True)

In [ ]:
duplicates = result_df.duplicated(subset=["refYear", "refMonth", "reporterDesc", "partnerDesc", "primaryValue"])

# Drop duplicates while keeping the first occurrence
df_no_duplicates = result_df.drop_duplicates(subset=["refYear", "refMonth", "reporterDesc", "partnerDesc", "primaryValue"], keep="first")

# Display results
print("Duplicates:\n", duplicates)
print("\nDataFrame after dropping duplicates:\n", df_no_duplicates)

Duplicates:
 0      False
1      False
2      False
3      False
4      False
       ...
151    False
152    False
153    False
154    False
155    False
Length: 156, dtype: bool

DataFrame after dropping duplicates:
      refYear  refMonth reporterDesc           partnerDesc  primaryValue  \
0       2017         1        Sudan  United Arab Emirates  9.220535e+07
1       2017         1       Zambia          South Africa  8.362168e+06
2       2017         2        Sudan               TÃ¼rkiye  4.672780e+05
3       2017         2        Sudan  United Arab Emirates  1.160972e+08
4       2017         2       Zambia          South Africa  7.941182e+06
..       ...       ...          ...                   ...           ...
151     2023        10       Zambia          South Africa  3.935930e+06
152     2023        10       Zambia  United Arab Emirates  5.795839e+04
153     2023        11       Zambia          South Africa  3.813837e+06
154     2023        11       Zambia  United Arab Emirates  9.873867e+05
155     2023        12       Zambia          South Africa  3.528064e+06

     effective_qty  is_sum_valid
0     2.348913e+03         False
1     1.880872e+02          True
2     1.190400e+01         False
3     2.957552e+03         False
4     1.793888e+02          True
..             ...           ...
151   6.513000e+01         False
152   8.650506e-01          True
153   6.109000e+01         False
154   1.030790e+06         False
155   5.622000e+01         False

[156 rows x 7 columns]

In [ ]:
df_no_duplicates = df_no_duplicates.drop(columns=['is_sum_valid'])

In [ ]:
# Save to an Excel file
df_no_duplicates.to_excel('updated_output_1.xlsx', index=False)

In [ ]:
print(df_no_duplicates.columns)

Index(['refYear', 'refMonth', 'reporterDesc', 'partnerDesc', 'primaryValue',
       'effective_qty'],
      dtype='object')

In [ ]:
df_no_duplicates.head()

,refYear,refMonth,reporterDesc,partnerDesc,primaryValue,effective_qty
0,2017,1,Sudan,United Arab Emirates,9.220535e+07,2348.913000
1,2017,1,Zambia,South Africa,8.362168e+06,188.087176
2,2017,2,Sudan,TÃ¼rkiye,4.672780e+05,11.904000
3,2017,2,Sudan,United Arab Emirates,1.160972e+08,2957.552000
4,2017,2,Zambia,South Africa,7.941182e+06,179.388766