In [1]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_path = ["TradeData_2017.xlsx","TradeData_2018.xlsx","TradeData_2019.xlsx","TradeData_2020.xlsx","TradeData_2021.xlsx","TradeData_2022.xlsx","TradeData_2023.xlsx"]

In [3]:
df = [pd.read_excel(file) for file in file_path]

In [4]:
df

[    typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
 0          C        M     20170101     2017         1  201701           729
 1          C        M     20170101     2017         1  201701           729
 2          C        M     20170101     2017         1  201701           729
 3          C        M     20170101     2017         1  201701           729
 4          C        M     20170101     2017         1  201701           729
 ..       ...      ...          ...      ...       ...     ...           ...
 259        C        M     20171201     2017        12  201712           894
 260        C        M     20171201     2017        12  201712           894
 261        C        M     20171201     2017        12  201712           894
 262        C        M     20171201     2017        12  201712           894
 263        C        M     20171201     2017        12  201712           894

     reporterISO reporterDesc flowCode  ... netWgt  isNetWgtEstimated grossWgt  \
 0           SDN        Sudan        X  ...    0.0               True        0
 1           SDN        Sudan        X  ...    0.0               True        0
 2           SDN        Sudan        X  ...    0.0               True        0
 3           SDN        Sudan        X  ...    0.0               True        0
 4           SDN        Sudan        X  ...    0.0               True        0
 ..          ...          ...      ...  ...    ...                ...      ...
 259         ZMB       Zambia        X  ...    NaN              False        0
 260         ZMB       Zambia        X  ...    NaN              False        0
 261         ZMB       Zambia        X  ...    NaN              False        0
 262         ZMB       Zambia        X  ...    NaN              False        0
 263         ZMB       Zambia        X  ...    NaN              False        0

     isGrossWgtEstimated  cifvalue     fobvalue primaryValue  \
 0                 False       0.0  92205354.00  92205354.00
 1                 False       0.0  92205354.00  92205354.00
 2                 False       0.0  92205354.00  92205354.00
 3                 False       0.0  92205354.00  92205354.00
 4                 False       0.0  92205354.00  92205354.00
 ..                  ...       ...          ...          ...
 259               False       NaN   9108210.55   9108210.55
 260               False       NaN   9108210.55   9108210.55
 261               False       NaN   9108210.55   9108210.55
 262               False       NaN   9108210.55   9108210.55
 263               False       NaN   9108210.55   9108210.55

     legacyEstimationFlag isReported  isAggregate
 0                      6      False         True
 1                      6      False         True
 2                      6      False         True
 3                      6      False         True
 4                      6      False         True
 ..                   ...        ...          ...
 259                    0      False         True
 260                    0      False         True
 261                    0      False         True
 262                    0      False         True
 263                    0      False         True

 [264 rows x 47 columns],
     typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
 0          C        M     20180101     2018         1  201801           729
 1          C        M     20180101     2018         1  201801           729
 2          C        M     20180101     2018         1  201801           729
 3          C        M     20180101     2018         1  201801           729
 4          C        M     20180101     2018         1  201801           729
 ..       ...      ...          ...      ...       ...     ...           ...
 235        C        M     20181101     2018        11  201811           894
 236        C        M     20181201     2018        12  201812           894
 237        C        M     20181201     2018        12  201812           894
 238        C        M     20181201     2018        12  201812           894
 239        C        M     20181201     2018        12  201812           894

     reporterISO reporterDesc flowCode  ... netWgt  isNetWgtEstimated grossWgt  \
 0           SDN        Sudan        X  ...    0.0               True        0
 1           SDN        Sudan        X  ...    0.0               True        0
 2           SDN        Sudan        X  ...    0.0               True        0
 3           SDN        Sudan        X  ...    0.0               True        0
 4           SDN        Sudan        X  ...    0.0               True        0
 ..          ...          ...      ...  ...    ...                ...      ...
 235         ZMB       Zambia        X  ...    NaN              False        0
 236         ZMB       Zambia        X  ...    NaN              False        0
 237         ZMB       Zambia        X  ...    NaN              False        0
 238         ZMB       Zambia        X  ...    NaN              False        0
 239         ZMB       Zambia        X  ...    NaN              False        0

     isGrossWgtEstimated  cifvalue      fobvalue  primaryValue  \
 0                 False       0.0  4.080342e+07  4.080342e+07
 1                 False       0.0  7.170875e+06  7.170875e+06
 2                 False       0.0  5.127000e+04  5.127000e+04
 3                 False       0.0  3.269148e+07  3.269148e+07
 4                 False       0.0  8.897950e+05  8.897950e+05
 ..                  ...       ...           ...           ...
 235               False       NaN  7.139278e+06  7.139278e+06
 236               False       NaN  6.835192e+06  6.835192e+06
 237               False       NaN  6.835192e+06  6.835192e+06
 238               False       NaN  6.835192e+06  6.835192e+06
 239               False       NaN  6.835192e+06  6.835192e+06

     legacyEstimationFlag isReported  isAggregate
 0                      6      False         True
 1                      6      False         True
 2                      6      False         True
 3                      6      False         True
 4                      6      False         True
 ..                   ...        ...          ...
 235                    0      False         True
 236                    0      False         True
 237                    0      False         True
 238                    0      False         True
 239                    0      False         True

 [240 rows x 47 columns],
    typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
 0         C        M     20190101     2019         1  201901           894
 1         C        M     20190101     2019         1  201901           894
 2         C        M     20190101     2019         1  201901           894
 3         C        M     20190101     2019         1  201901           894
 4         C        M     20190101     2019         1  201901           894
 ..      ...      ...          ...      ...       ...     ...           ...
 87        C        M     20191201     2019        12  201912           894
 88        C        M     20191201     2019        12  201912           894
 89        C        M     20191201     2019        12  201912           894
 90        C        M     20191201     2019        12  201912           894
 91        C        M     20191201     2019        12  201912           894

    reporterISO reporterDesc flowCode  ... netWgt  isNetWgtEstimated grossWgt  \
 0          ZMB       Zambia        X  ...    NaN              False        0
 1          ZMB       Zambia        X  ...    NaN              False        0
 2          ZMB       Zambia        X  ...    NaN              False        0
 3          ZMB       Zambia        X  ...    NaN              False        0
 4          ZMB       Zambia        X  ...    NaN              False        0
 ..         ...          ...      ...  ...    ...                ...      ...
 87         ZMB       Zambia        X  ...    NaN              False        0
 88         ZMB       Zambia        X  ...  0.724               True        0
 89         ZMB       Zambia        X  ...    NaN              False        0
 90         ZMB       Zambia        X  ...    NaN              False        0
 91         ZMB       Zambia        X  ...  0.724               True        0

    isGrossWgtEstimated  cifvalue     fobvalue primaryValue  \
 0                False       NaN  7128077.902  7128077.902
 1                False       NaN  7128077.902  7128077.902
 2                False       NaN  7128077.902  7128077.902
 3                False       NaN  7128077.902  7128077.902
 4                False       NaN  7128077.902  7128077.902
 ..                 ...       ...          ...          ...
 87               False       NaN  6040938.238  6040938.238
 88               False       NaN    29875.386    29875.386
 89               False       NaN  6070813.624  6070813.624
 90               False       NaN  6040938.238  6040938.238
 91               False       NaN    29875.386    29875.386

    legacyEstimationFlag isReported  isAggregate
 0                     0      False         True
 1                     0      False         True
 2                     0      False         True
 3                     0      False         True
 4                     0      False         True
 ..                  ...        ...          ...
 87                    0      False         True
 88                    6      False         True
 89                    0      False         True
 90                    0      False         True
 91                    6      False         True

 [92 rows x 47 columns],
     typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
 0          C        M     20200101     2020         1  202001           894
 1          C        M     20200101     2020         1  202001           894
 2          C        M     20200101     2020         1  202001           894
 3          C        M     20200101     2020         1  202001           894
 4          C        M     20200101     2020         1  202001           894
 ..       ...      ...          ...      ...       ...     ...           ...
 97         C        M     20201201     2020        12  202012           894
 98         C        M     20201201     2020        12  202012           894
 99         C        M     20201201     2020        12  202012           894
 100        C        M     20201201     2020        12  202012           894
 101        C        M     20201201     2020        12  202012           894

     reporterISO reporterDesc flowCode  ... netWgt  isNetWgtEstimated grossWgt  \
 0           ZMB       Zambia        X  ...    NaN              False        0
 1           ZMB       Zambia        X  ...    NaN              False        0
 2           ZMB       Zambia        X  ...    NaN              False        0
 3           ZMB       Zambia        X  ...    NaN              False        0
 4           ZMB       Zambia        X  ...    NaN              False        0
 ..          ...          ...      ...  ...    ...                ...      ...
 97          ZMB       Zambia        X  ...    NaN              False        0
 98          ZMB       Zambia        X  ...    NaN              False        0
 99          ZMB       Zambia        X  ...    NaN              False        0
 100         ZMB       Zambia        X  ...    NaN              False        0
 101         ZMB       Zambia        X  ...    NaN              False        0

     isGrossWgtEstimated  cifvalue     fobvalue primaryValue  \
 0                 False       NaN  6066131.775  6066131.775
 1                 False       NaN  6066131.775  6066131.775
 2                 False       NaN  6066131.775  6066131.775
 3                 False       NaN  6066131.775  6066131.775
 4                 False       NaN  6066131.775  6066131.775
 ..                  ...       ...          ...          ...
 97                False       NaN  6612583.209  6612583.209
 98                False       NaN    89773.559    89773.559
 99                False       NaN  6702356.768  6702356.768
 100               False       NaN  6612583.209  6612583.209
 101               False       NaN    89773.559    89773.559

     legacyEstimationFlag isReported  isAggregate
 0                      0      False         True
 1                      0      False         True
 2                      0      False         True
 3                      0      False         True
 4                      0      False         True
 ..                   ...        ...          ...
 97                     0      False         True
 98                     0      False         True
 99                     0      False         True
 100                    0      False         True
 101                    0      False         True

 [102 rows x 47 columns],
     typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
 0          C        M     20210101     2021         1  202101           894
 1          C        M     20210101     2021         1  202101           894
 2          C        M     20210101     2021         1  202101           894
 3          C        M     20210101     2021         1  202101           894
 4          C        M     20210101     2021         1  202101           894
 ..       ...      ...          ...      ...       ...     ...           ...
 107        C        M     20211201     2021        12  202112           894
 108        C        M     20211201     2021        12  202112           894
 109        C        M     20211201     2021        12  202112           894
 110        C        M     20211201     2021        12  202112           894
 111        C        M     20211201     2021        12  202112           894

     reporterISO reporterDesc flowCode  ...  netWgt  isNetWgtEstimated  \
 0           ZMB       Zambia        X  ...   99.74              False
 1           ZMB       Zambia        X  ...   99.74              False
 2           ZMB       Zambia        X  ...   99.74              False
 3           ZMB       Zambia        X  ...   99.74              False
 4           ZMB       Zambia        X  ...   99.74              False
 ..          ...          ...      ...  ...     ...                ...
 107         ZMB       Zambia        X  ...   98.79              False
 108         ZMB       Zambia        X  ...    2.00              False
 109         ZMB       Zambia        X  ...  100.79              False
 110         ZMB       Zambia        X  ...   98.79              False
 111         ZMB       Zambia        X  ...    2.00              False

     grossWgt isGrossWgtEstimated  cifvalue     fobvalue primaryValue  \
 0          0               False       NaN  5945588.609  5945588.609
 1          0               False       NaN  5945588.609  5945588.609
 2          0               False       NaN  5945588.609  5945588.609
 3          0               False       NaN  5945588.609  5945588.609
 4          0               False       NaN  5945588.609  5945588.609
 ..       ...                 ...       ...          ...          ...
 107        0               False       NaN  5584824.666  5584824.666
 108        0               False       NaN    73613.886    73613.886
 109        0               False       NaN  5658438.553  5658438.553
 110        0               False       NaN  5584824.666  5584824.666
 111        0               False       NaN    73613.886    73613.886

     legacyEstimationFlag isReported  isAggregate
 0                      0      False         True
 1                      0      False         True
 2                      0      False         True
 3                      0      False         True
 4                      0      False         True
 ..                   ...        ...          ...
 107                    0      False         True
 108                    0      False         True
 109                    0      False         True
 110                    0      False         True
 111                    0      False         True

 [112 rows x 47 columns],
     typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
 0          C        M     20220101     2022         1  202201           894
 1          C        M     20220101     2022         1  202201           894
 2          C        M     20220101     2022         1  202201           894
 3          C        M     20220101     2022         1  202201           894
 4          C        M     20220201     2022         2  202202           894
 ..       ...      ...          ...      ...       ...     ...           ...
 121        C        M     20221101     2022        11  202211           894
 122        C        M     20221201     2022        12  202212           894
 123        C        M     20221201     2022        12  202212           894
 124        C        M     20221201     2022        12  202212           894
 125        C        M     20221201     2022        12  202212           894

     reporterISO reporterDesc flowCode  ... netWgt  isNetWgtEstimated grossWgt  \
 0           ZMB       Zambia        X  ...  89.61              False        0
 1           ZMB       Zambia        X  ...  89.61              False        0
 2           ZMB       Zambia        X  ...  89.61              False        0
 3           ZMB       Zambia        X  ...  89.61              False        0
 4           ZMB       Zambia        X  ...  81.66              False        0
 ..          ...          ...      ...  ...    ...                ...      ...
 121         ZMB       Zambia        X  ...   5.00              False        0
 122         ZMB       Zambia        X  ...  66.60              False        0
 123         ZMB       Zambia        X  ...  66.60              False        0
 124         ZMB       Zambia        X  ...  66.60              False        0
 125         ZMB       Zambia        X  ...  66.60              False        0

     isGrossWgtEstimated  cifvalue     fobvalue primaryValue  \
 0                 False       NaN  5233950.957  5233950.957
 1                 False       NaN  5233950.957  5233950.957
 2                 False       NaN  5233950.957  5233950.957
 3                 False       NaN  5233950.957  5233950.957
 4                 False       NaN  5099638.546  5099638.546
 ..                  ...       ...          ...          ...
 121               False       NaN   283923.303   283923.303
 122               False       NaN  3545754.696  3545754.696
 123               False       NaN  3545754.696  3545754.696
 124               False       NaN  3545754.696  3545754.696
 125               False       NaN  3545754.696  3545754.696

     legacyEstimationFlag isReported  isAggregate
 0                      0      False         True
 1                      0      False         True
 2                      0      False         True
 3                      0      False         True
 4                      0      False         True
 ..                   ...        ...          ...
 121                    0      False         True
 122                    0      False         True
 123                    0      False         True
 124                    0      False         True
 125                    0      False         True

 [126 rows x 47 columns],
     typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
 0          C        M     20230101     2023         1  202301           894
 1          C        M     20230101     2023         1  202301           894
 2          C        M     20230101     2023         1  202301           894
 3          C        M     20230101     2023         1  202301           894
 4          C        M     20230201     2023         2  202302           894
 ..       ...      ...          ...      ...       ...     ...           ...

In [5]:
combine_df = pd.concat(df,ignore_index=True)

In [6]:
combine_df

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.00,True,0,False,0.0,9.220535e+07,9.220535e+07,6,False,True
1,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.00,True,0,False,0.0,9.220535e+07,9.220535e+07,6,False,True
2,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.00,True,0,False,0.0,9.220535e+07,9.220535e+07,6,False,True
3,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.00,True,0,False,0.0,9.220535e+07,9.220535e+07,6,False,True
4,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.00,True,0,False,0.0,9.220535e+07,9.220535e+07,6,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,C,M,20231101,2023,11,202311,894,ZMB,Zambia,X,...,19.37,False,0,False,NaN,9.873867e+05,9.873867e+05,0,False,True
1052,C,M,20231201,2023,12,202312,894,ZMB,Zambia,X,...,56.22,False,0,False,NaN,3.528064e+06,3.528064e+06,0,False,True
1053,C,M,20231201,2023,12,202312,894,ZMB,Zambia,X,...,56.22,False,0,False,NaN,3.528064e+06,3.528064e+06,0,False,True
1054,C,M,20231201,2023,12,202312,894,ZMB,Zambia,X,...,56.22,False,0,False,NaN,3.528064e+06,3.528064e+06,0,False,True
1055,C,M,20231201,2023,12,202312,894,ZMB,Zambia,X,...,56.22,False,0,False,NaN,3.528064e+06,3.528064e+06,0,False,True

In [7]:
combine_df.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.0,True,0,False,0.0,92205354.0,92205354.0,6,False,True
1,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.0,True,0,False,0.0,92205354.0,92205354.0,6,False,True
2,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.0,True,0,False,0.0,92205354.0,92205354.0,6,False,True
3,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.0,True,0,False,0.0,92205354.0,92205354.0,6,False,True
4,C,M,20170101,2017,1,201701,729,SDN,Sudan,X,...,0.0,True,0,False,0.0,92205354.0,92205354.0,6,False,True

In [8]:
for column in combine_df.columns:
    unique_values = combine_df[column].unique()
    print(f"Unique values in '{column}': {unique_values}")

Unique values in 'typeCode': ['C']
Unique values in 'freqCode': ['M']
Unique values in 'refPeriodId': [20170101 20170201 20170301 20170401 20170501 20170601 20170701 20170801
 20170901 20171001 20171101 20171201 20180101 20180201 20180301 20180401
 20180501 20180601 20180701 20180801 20180901 20181001 20181101 20181201
 20190101 20190201 20190301 20190401 20190501 20190601 20190801 20190901
 20191001 20191101 20191201 20200101 20200201 20200301 20200501 20200601
 20200701 20200801 20200901 20201001 20201101 20201201 20210101 20210201
 20210301 20210401 20210501 20210601 20210701 20210801 20210901 20211001
 20211101 20211201 20220101 20220201 20220301 20220401 20220501 20220601
 20220701 20220801 20220901 20221001 20221101 20221201 20230101 20230201
 20230301 20230401 20230501 20230601 20230701 20230801 20230901 20231001
 20231101 20231201]
Unique values in 'refYear': [2017 2018 2019 2020 2021 2022 2023]
Unique values in 'refMonth': [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique values in 'period': [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201908 201909 201910 201911 201912 202001 202002 202003 202005 202006
 202007 202008 202009 202010 202011 202012 202101 202102 202103 202104
 202105 202106 202107 202108 202109 202110 202111 202112 202201 202202
 202203 202204 202205 202206 202207 202208 202209 202210 202211 202212
 202301 202302 202303 202304 202305 202306 202307 202308 202309 202310
 202311 202312]
Unique values in 'reporterCode': [729 894]
Unique values in 'reporterISO': ['SDN' 'ZMB']
Unique values in 'reporterDesc': ['Sudan' 'Zambia']
Unique values in 'flowCode': ['X']
Unique values in 'flowDesc': ['Export']
Unique values in 'partnerCode': [  0 784 710 792  51 533 251 682  16 208 634 218 566 842  32 800 344 380
 458]
Unique values in 'partnerISO': ['W00' 'ARE' 'ZAF' 'TUR' 'ARM' 'ABW' 'FRA' 'SAU' 'ASM' 'DNK' 'QAT' 'ECU'
 'NGA' 'USA' 'ARG' 'UGA' 'HKG' 'ITA' 'MYS']
Unique values in 'partnerDesc': ['World' 'United Arab Emirates' 'South Africa' 'Türkiye' 'Armenia' 'Aruba'
 'France' 'Saudi Arabia' 'American Samoa' 'Denmark' 'Qatar' 'Ecuador'
 'Nigeria' 'USA' 'Argentina' 'Uganda' 'China, Hong Kong SAR' 'Italy'
 'Malaysia']
Unique values in 'partner2Code': [0]
Unique values in 'partner2ISO': ['W00']
Unique values in 'partner2Desc': ['World']
Unique values in 'classificationCode': ['H5' 'H6']
Unique values in 'classificationSearchCode': ['HS']
Unique values in 'isOriginalClassification': [ True]
Unique values in 'cmdCode': [  7108 710812 710813 710811]
Unique values in 'cmdDesc': ['Gold (including gold plated with platinum) unwrought or in semi-manufactured forms, or in powder form'
 'Metals; gold, non-monetary, unwrought (but not powder)'
 'Metals; gold, semi-manufactured' 'Metals; gold, non-monetary, powder']
Unique values in 'aggrLevel': [4 6]
Unique values in 'isLeaf': [False  True]
Unique values in 'customsCode': ['C00']
Unique values in 'customsDesc': ['TOTAL CPC']
Unique values in 'mosCode': [0]
Unique values in 'motCode': [   0 1000]
Unique values in 'motDesc': ['TOTAL MOT' 'Air']
Unique values in 'qtyUnitCode': [ 8 -1]
Unique values in 'qtyUnitAbbr': ['kg' nan]
Unique values in 'qty': [2.34891300e+03 0.00000000e+00 2.96945600e+03 2.95755200e+03
 1.19040000e+01 3.82101200e+03 4.05947400e+03 1.23891000e+02
 3.93558200e+03 2.58740000e+01 4.03360000e+03 3.90970800e+03
 2.29714587e+05 1.22620900e+03 2.28355941e+05 1.32437000e+02
 3.68969600e+03 1.17280000e+01 3.66516100e+03 1.28070000e+01
 2.31333500e+03 1.20240000e+01 5.82900000e+00 1.56067000e+02
 2.13941500e+03 1.85619000e+02 3.39053100e+03 5.64480000e+01
 2.77840000e+01 3.28129200e+03 2.50060000e+01 2.35312500e+03
 4.59300000e+00 2.32020300e+03 2.83300000e+01 3.43831000e+03
 3.42489300e+03 1.34160000e+01 3.59669200e+03 1.46715000e+02
 9.18900000e+00 3.41894300e+03 2.18450000e+01 2.74693800e+03
 2.71811600e+03 2.88210000e+01 9.71925000e+02 1.70808000e+02
 1.22100000e+00 7.78701000e+02 2.11950000e+01 2.30494090e+04
 2.30272790e+04 2.21300000e+01 1.08604200e+03 1.05761800e+03
 2.84230000e+01 2.14917000e+03 2.04970700e+03 2.68690000e+01
 7.25930000e+01 2.10937600e+03 9.23830000e+01 2.01699300e+03
 1.10221200e+03 9.12532000e+02 1.89680000e+02 1.54723900e+03
 1.50076600e+03 4.64730000e+01 1.91807100e+03 4.56080000e+01
 1.84236100e+03 3.01020000e+01 2.00976000e+03 1.77084200e+03
 1.02086400e+03 2.83820400e+03 2.74741300e+03 9.07900000e+01
 7.24000000e-01 1.00000000e-03 8.16600000e+01 7.97600000e+01
 1.90000000e+00 1.07130000e+02 2.00000000e-03 1.00000000e-01
 1.06830000e+02 1.03079000e+03]
Unique values in 'isQtyEstimated': [ True False]
Unique values in 'altQtyUnitCode': [-1 15  8]
Unique values in 'altQtyUnitAbbr': [nan 'g' 'kg']
Unique values in 'altQty': [0.0000000e+00 1.2000000e+01 4.3000000e+01 1.3000000e+01 2.6000000e+01
 1.0000000e+01 7.5600000e+00 1.1000000e+01 1.0000000e+00 1.8000000e+01
 9.0000000e+00 8.0000000e+00 7.0000000e+00 6.0000000e+00 9.2440000e+01
 5.0000000e+00 1.4000000e+01 2.0000000e+00 8.1660000e+01 7.9760000e+01
 1.9000000e+00 1.0500000e+02 1.0000000e+02 4.0000000e+00 1.0683000e+02
 3.0000000e+00 3.4000004e+07 3.4000000e+07 1.0307940e+06 1.0307900e+06]
Unique values in 'isAltQtyEstimated': [False]
Unique values in 'netWgt': [0.00000000e+00            nan 3.93558200e+03 3.90970800e+03
 2.28355941e+05 1.85619000e+02 2.30272790e+04 7.24000000e-01
 1.00000000e-03 9.97400000e+01 8.10300000e+01 9.29600000e+01
 1.07000000e+02 7.92300000e+01 7.84300000e+01 8.00000000e-01
 1.11010000e+02 1.10740000e+02 2.70000000e-01 7.98000000e+01
 8.98600000e+01 9.51600000e+01 1.03730000e+02 8.15000000e+01
 1.00790000e+02 9.87900000e+01 2.00000000e+00 8.96100000e+01
 8.16600000e+01 7.97600000e+01 1.90000000e+00 1.07130000e+02
 7.57100000e+01 8.62800000e+01 8.70200000e+01 8.68500000e+01
 1.70000000e-01 8.70500000e+01 7.92600000e+01 1.00000000e-01
 7.91600000e+01 6.51500000e+01 6.76700000e+01 8.11800000e+01
 7.61800000e+01 5.00000000e+00 6.66000000e+01 3.00000000e-01
 1.06830000e+02 7.22200000e+01 5.42400000e+01 9.45300000e+01
 6.05300000e+01 3.40000000e+01 3.68400000e+01 5.75100000e+01
 5.74400000e+01 7.00000000e-02 6.53900000e+01 6.43900000e+01
 1.00000000e+00 7.71800000e+01 6.81300000e+01 5.04200000e+01
 6.51300000e+01 8.04600000e+01 6.10900000e+01 1.93700000e+01
 5.62200000e+01]
Unique values in 'isNetWgtEstimated': [ True False]
Unique values in 'grossWgt': [0]
Unique values in 'isGrossWgtEstimated': [False]
Unique values in 'cifvalue': [ 0. nan]
Unique values in 'fobvalue': [9.22053540e+07 8.36216776e+06 1.16564443e+08 1.16097165e+08
 4.67278000e+05 7.94118188e+06 1.49991832e+08 7.48733320e+06
 1.59854428e+08 4.86329500e+06 1.54991133e+08 1.02537500e+06
 1.58829053e+08 1.53965758e+08 7.76826940e+06 8.22421505e+08
 4.39006100e+06 8.17557296e+08 4.74148000e+05 8.08945605e+06
 1.44837102e+08 4.60380000e+05 1.43873996e+08 5.02726000e+05
 7.81904668e+06 9.08087710e+07 4.71986000e+05 2.28831000e+05
 6.12634100e+06 8.39816130e+07 6.99918325e+06 1.33093519e+08
 2.21585500e+06 1.09065300e+06 1.28805404e+08 9.81607000e+05
 8.01623693e+06 9.23707090e+07 1.80300000e+05 9.10783490e+07
 1.11206000e+06 8.26603408e+06 1.34969063e+08 1.34442406e+08
 5.26657000e+05 1.41186298e+08 5.75923000e+06 3.60718000e+05
 1.34208819e+08 8.57531000e+05 1.54214206e+07 1.07829616e+08
 1.06698245e+08 1.13137100e+06 9.10821055e+06 4.08034230e+07
 7.17087500e+06 5.12700000e+04 3.26914830e+07 8.89795000e+05
 9.12850056e+06 1.33484465e+08 1.32555423e+08 9.29042000e+05
 7.75360081e+06 4.55942620e+07 4.44009850e+07 1.19327700e+06
 7.85842662e+06 9.02265810e+07 8.60509240e+07 1.12803400e+06
 3.04762300e+06 5.98354042e+06 8.85559470e+07 3.87841200e+06
 8.46775350e+07 1.34468006e+07 4.62731150e+07 3.83099630e+07
 7.96315200e+06 9.02175858e+06 3.16239580e+04 8.99013462e+06
 6.49562860e+07 6.30052360e+07 1.95105000e+06 7.98147851e+06
 8.05245820e+07 1.91472900e+06 7.73461250e+07 1.26372800e+06
 6.23497848e+06 8.43738640e+07 7.43435850e+07 1.29566819e+07
 4.28579560e+07 7.13927816e+06 1.19153639e+08 1.15342069e+08
 3.81157000e+06 6.83519190e+06 7.12807790e+06 5.08411466e+06
 5.84785270e+06 4.88665122e+06 6.37921867e+06 6.70178559e+06
 1.27825013e+07 5.42023362e+06 6.96298145e+06 5.69761221e+06
 6.07081362e+06 6.04093824e+06 2.98753860e+04 6.06613178e+06
 4.61648859e+06 3.52814017e+06 1.17674311e+07 6.19142426e+06
 7.70993496e+06 5.29284514e+06 6.52869827e+06 5.31670143e+06
 5.30880810e+06 7.89332900e+03 5.56486981e+06 5.46045259e+06
 1.04417215e+05 6.70235677e+06 6.61258321e+06 8.97735590e+04
 5.94558861e+06 4.70852558e+06 5.15497032e+06 6.13488178e+06
 4.77709178e+06 4.77673228e+06 3.59501000e+02 6.36082178e+06
 6.35843745e+06 2.38432800e+03 4.61512837e+06 5.58332249e+06
 5.42026882e+06 5.97176559e+06 4.73582627e+06 5.65843855e+06
 5.58482467e+06 7.36138860e+04 5.23395096e+06 5.09963855e+06
 4.98571121e+06 1.13927334e+05 6.62982762e+06 4.61923736e+06
 5.12003241e+06 5.07952032e+06 5.06970603e+06 9.81429000e+03
 4.57461747e+06 4.51918086e+06 5.54366090e+04 4.19057075e+06
 5.46549600e+03 4.18510526e+06 3.18226048e+06 3.28522951e+06
 4.31455860e+06 4.03063529e+06 2.83923303e+05 3.54575470e+06
 1.55803870e+04 6.61424723e+06 4.20710069e+06 2.93573040e+06
 5.36311924e+06 3.58242177e+06 1.78069748e+06 2.16709852e+06
 3.33171431e+06 3.32790402e+06 3.81029600e+03 3.91303537e+06
 3.85663379e+06 5.64015730e+04 4.58512875e+06 3.96516019e+06
 2.88533663e+06 3.99388853e+06 3.93593014e+06 5.79583910e+04
 4.80122380e+06 3.81383708e+06 9.87386728e+05 3.52806427e+06]
Unique values in 'primaryValue': [9.22053540e+07 8.36216776e+06 1.16564443e+08 1.16097165e+08
 4.67278000e+05 7.94118188e+06 1.49991832e+08 7.48733320e+06
 1.59854428e+08 4.86329500e+06 1.54991133e+08 1.02537500e+06
 1.58829053e+08 1.53965758e+08 7.76826940e+06 8.22421505e+08
 4.39006100e+06 8.17557296e+08 4.74148000e+05 8.08945605e+06
 1.44837102e+08 4.60380000e+05 1.43873996e+08 5.02726000e+05
 7.81904668e+06 9.08087710e+07 4.71986000e+05 2.28831000e+05
 6.12634100e+06 8.39816130e+07 6.99918325e+06 1.33093519e+08
 2.21585500e+06 1.09065300e+06 1.28805404e+08 9.81607000e+05
 8.01623693e+06 9.23707090e+07 1.80300000e+05 9.10783490e+07
 1.11206000e+06 8.26603408e+06 1.34969063e+08 1.34442406e+08
 5.26657000e+05 1.41186298e+08 5.75923000e+06 3.60718000e+05
 1.34208819e+08 8.57531000e+05 1.54214206e+07 1.07829616e+08
 1.06698245e+08 1.13137100e+06 9.10821055e+06 4.08034230e+07
 7.17087500e+06 5.12700000e+04 3.26914830e+07 8.89795000e+05
 9.12850056e+06 1.33484465e+08 1.32555423e+08 9.29042000e+05
 7.75360081e+06 4.55942620e+07 4.44009850e+07 1.19327700e+06
 7.85842662e+06 9.02265810e+07 8.60509240e+07 1.12803400e+06
 3.04762300e+06 5.98354042e+06 8.85559470e+07 3.87841200e+06
 8.46775350e+07 1.34468006e+07 4.62731150e+07 3.83099630e+07
 7.96315200e+06 9.02175858e+06 3.16239580e+04 8.99013462e+06
 6.49562860e+07 6.30052360e+07 1.95105000e+06 7.98147851e+06
 8.05245820e+07 1.91472900e+06 7.73461250e+07 1.26372800e+06
 6.23497848e+06 8.43738640e+07 7.43435850e+07 1.29566819e+07
 4.28579560e+07 7.13927816e+06 1.19153639e+08 1.15342069e+08
 3.81157000e+06 6.83519190e+06 7.12807790e+06 5.08411466e+06
 5.84785270e+06 4.88665122e+06 6.37921867e+06 6.70178559e+06
 1.27825013e+07 5.42023362e+06 6.96298145e+06 5.69761221e+06
 6.07081362e+06 6.04093824e+06 2.98753860e+04 6.06613178e+06
 4.61648859e+06 3.52814017e+06 1.17674311e+07 6.19142426e+06
 7.70993496e+06 5.29284514e+06 6.52869827e+06 5.31670143e+06
 5.30880810e+06 7.89332900e+03 5.56486981e+06 5.46045259e+06
 1.04417215e+05 6.70235677e+06 6.61258321e+06 8.97735590e+04
 5.94558861e+06 4.70852558e+06 5.15497032e+06 6.13488178e+06
 4.77709178e+06 4.77673228e+06 3.59501000e+02 6.36082178e+06
 6.35843745e+06 2.38432800e+03 4.61512837e+06 5.58332249e+06
 5.42026882e+06 5.97176559e+06 4.73582627e+06 5.65843855e+06
 5.58482467e+06 7.36138860e+04 5.23395096e+06 5.09963855e+06
 4.98571121e+06 1.13927334e+05 6.62982762e+06 4.61923736e+06
 5.12003241e+06 5.07952032e+06 5.06970603e+06 9.81429000e+03
 4.57461747e+06 4.51918086e+06 5.54366090e+04 4.19057075e+06
 5.46549600e+03 4.18510526e+06 3.18226048e+06 3.28522951e+06
 4.31455860e+06 4.03063529e+06 2.83923303e+05 3.54575470e+06
 1.55803870e+04 6.61424723e+06 4.20710069e+06 2.93573040e+06
 5.36311924e+06 3.58242177e+06 1.78069748e+06 2.16709852e+06
 3.33171431e+06 3.32790402e+06 3.81029600e+03 3.91303537e+06
 3.85663379e+06 5.64015730e+04 4.58512875e+06 3.96516019e+06
 2.88533663e+06 3.99388853e+06 3.93593014e+06 5.79583910e+04
 4.80122380e+06 3.81383708e+06 9.87386728e+05 3.52806427e+06]
Unique values in 'legacyEstimationFlag': [6 0]
Unique values in 'isReported': [False  True]
Unique values in 'isAggregate': [ True False]

In [9]:
# Count how many columns have only one unique value
single_value_columns = combine_df.nunique() == 1
count_single_value_columns = single_value_columns.sum()

print(f"Number of columns with only a single unique value: {count_single_value_columns}")

# Optionally, get the names of these columns
columns_with_single_value = combine_df.columns[single_value_columns].tolist()
print(f"Columns with only a single unique value: {columns_with_single_value}")

Number of columns with only a single unique value: 17
Columns with only a single unique value: ['typeCode', 'freqCode', 'flowCode', 'flowDesc', 'partner2Code', 'partner2ISO', 'partner2Desc', 'classificationSearchCode', 'isOriginalClassification', 'customsCode', 'customsDesc', 'mosCode', 'qtyUnitAbbr', 'isAltQtyEstimated', 'grossWgt', 'isGrossWgtEstimated', 'cifvalue']

In [10]:
combine_df = combine_df.drop(['typeCode', 'freqCode', 'flowCode', 'flowDesc', 'partner2Code', 'partner2ISO', 'partner2Desc', 'classificationSearchCode', 'isOriginalClassification', 'customsCode', 'customsDesc', 'mosCode', 'qtyUnitAbbr', 'isAltQtyEstimated', 'grossWgt', 'isGrossWgtEstimated', 'cifvalue'],axis=1)

In [11]:
combine_df

,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,partnerCode,partnerISO,partnerDesc,...,altQtyUnitCode,altQtyUnitAbbr,altQty,netWgt,isNetWgtEstimated,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,20170101,2017,1,201701,729,SDN,Sudan,0,W00,World,...,-1,NaN,0.0,0.00,True,9.220535e+07,9.220535e+07,6,False,True
1,20170101,2017,1,201701,729,SDN,Sudan,784,ARE,United Arab Emirates,...,-1,NaN,0.0,0.00,True,9.220535e+07,9.220535e+07,6,False,True
2,20170101,2017,1,201701,729,SDN,Sudan,0,W00,World,...,-1,NaN,0.0,0.00,True,9.220535e+07,9.220535e+07,6,False,True
3,20170101,2017,1,201701,729,SDN,Sudan,784,ARE,United Arab Emirates,...,-1,NaN,0.0,0.00,True,9.220535e+07,9.220535e+07,6,False,True
4,20170101,2017,1,201701,729,SDN,Sudan,0,W00,World,...,-1,NaN,0.0,0.00,True,9.220535e+07,9.220535e+07,6,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,20231101,2023,11,202311,894,ZMB,Zambia,784,ARE,United Arab Emirates,...,15,g,1030790.0,19.37,False,9.873867e+05,9.873867e+05,0,False,True
1052,20231201,2023,12,202312,894,ZMB,Zambia,0,W00,World,...,15,g,4.0,56.22,False,3.528064e+06,3.528064e+06,0,False,True
1053,20231201,2023,12,202312,894,ZMB,Zambia,710,ZAF,South Africa,...,15,g,4.0,56.22,False,3.528064e+06,3.528064e+06,0,False,True
1054,20231201,2023,12,202312,894,ZMB,Zambia,0,W00,World,...,15,g,4.0,56.22,False,3.528064e+06,3.528064e+06,0,False,True
1055,20231201,2023,12,202312,894,ZMB,Zambia,710,ZAF,South Africa,...,15,g,4.0,56.22,False,3.528064e+06,3.528064e+06,0,False,True

In [12]:
for column in combine_df.columns:
    unique_values = combine_df[column].unique()
    print(f"Unique values in '{column}': {unique_values}")

Unique values in 'refPeriodId': [20170101 20170201 20170301 20170401 20170501 20170601 20170701 20170801
 20170901 20171001 20171101 20171201 20180101 20180201 20180301 20180401
 20180501 20180601 20180701 20180801 20180901 20181001 20181101 20181201
 20190101 20190201 20190301 20190401 20190501 20190601 20190801 20190901
 20191001 20191101 20191201 20200101 20200201 20200301 20200501 20200601
 20200701 20200801 20200901 20201001 20201101 20201201 20210101 20210201
 20210301 20210401 20210501 20210601 20210701 20210801 20210901 20211001
 20211101 20211201 20220101 20220201 20220301 20220401 20220501 20220601
 20220701 20220801 20220901 20221001 20221101 20221201 20230101 20230201
 20230301 20230401 20230501 20230601 20230701 20230801 20230901 20231001
 20231101 20231201]
Unique values in 'refYear': [2017 2018 2019 2020 2021 2022 2023]
Unique values in 'refMonth': [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique values in 'period': [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201908 201909 201910 201911 201912 202001 202002 202003 202005 202006
 202007 202008 202009 202010 202011 202012 202101 202102 202103 202104
 202105 202106 202107 202108 202109 202110 202111 202112 202201 202202
 202203 202204 202205 202206 202207 202208 202209 202210 202211 202212
 202301 202302 202303 202304 202305 202306 202307 202308 202309 202310
 202311 202312]
Unique values in 'reporterCode': [729 894]
Unique values in 'reporterISO': ['SDN' 'ZMB']
Unique values in 'reporterDesc': ['Sudan' 'Zambia']
Unique values in 'partnerCode': [  0 784 710 792  51 533 251 682  16 208 634 218 566 842  32 800 344 380
 458]
Unique values in 'partnerISO': ['W00' 'ARE' 'ZAF' 'TUR' 'ARM' 'ABW' 'FRA' 'SAU' 'ASM' 'DNK' 'QAT' 'ECU'
 'NGA' 'USA' 'ARG' 'UGA' 'HKG' 'ITA' 'MYS']
Unique values in 'partnerDesc': ['World' 'United Arab Emirates' 'South Africa' 'Türkiye' 'Armenia' 'Aruba'
 'France' 'Saudi Arabia' 'American Samoa' 'Denmark' 'Qatar' 'Ecuador'
 'Nigeria' 'USA' 'Argentina' 'Uganda' 'China, Hong Kong SAR' 'Italy'
 'Malaysia']
Unique values in 'classificationCode': ['H5' 'H6']
Unique values in 'cmdCode': [  7108 710812 710813 710811]
Unique values in 'cmdDesc': ['Gold (including gold plated with platinum) unwrought or in semi-manufactured forms, or in powder form'
 'Metals; gold, non-monetary, unwrought (but not powder)'
 'Metals; gold, semi-manufactured' 'Metals; gold, non-monetary, powder']
Unique values in 'aggrLevel': [4 6]
Unique values in 'isLeaf': [False  True]
Unique values in 'motCode': [   0 1000]
Unique values in 'motDesc': ['TOTAL MOT' 'Air']
Unique values in 'qtyUnitCode': [ 8 -1]
Unique values in 'qty': [2.34891300e+03 0.00000000e+00 2.96945600e+03 2.95755200e+03
 1.19040000e+01 3.82101200e+03 4.05947400e+03 1.23891000e+02
 3.93558200e+03 2.58740000e+01 4.03360000e+03 3.90970800e+03
 2.29714587e+05 1.22620900e+03 2.28355941e+05 1.32437000e+02
 3.68969600e+03 1.17280000e+01 3.66516100e+03 1.28070000e+01
 2.31333500e+03 1.20240000e+01 5.82900000e+00 1.56067000e+02
 2.13941500e+03 1.85619000e+02 3.39053100e+03 5.64480000e+01
 2.77840000e+01 3.28129200e+03 2.50060000e+01 2.35312500e+03
 4.59300000e+00 2.32020300e+03 2.83300000e+01 3.43831000e+03
 3.42489300e+03 1.34160000e+01 3.59669200e+03 1.46715000e+02
 9.18900000e+00 3.41894300e+03 2.18450000e+01 2.74693800e+03
 2.71811600e+03 2.88210000e+01 9.71925000e+02 1.70808000e+02
 1.22100000e+00 7.78701000e+02 2.11950000e+01 2.30494090e+04
 2.30272790e+04 2.21300000e+01 1.08604200e+03 1.05761800e+03
 2.84230000e+01 2.14917000e+03 2.04970700e+03 2.68690000e+01
 7.25930000e+01 2.10937600e+03 9.23830000e+01 2.01699300e+03
 1.10221200e+03 9.12532000e+02 1.89680000e+02 1.54723900e+03
 1.50076600e+03 4.64730000e+01 1.91807100e+03 4.56080000e+01
 1.84236100e+03 3.01020000e+01 2.00976000e+03 1.77084200e+03
 1.02086400e+03 2.83820400e+03 2.74741300e+03 9.07900000e+01
 7.24000000e-01 1.00000000e-03 8.16600000e+01 7.97600000e+01
 1.90000000e+00 1.07130000e+02 2.00000000e-03 1.00000000e-01
 1.06830000e+02 1.03079000e+03]
Unique values in 'isQtyEstimated': [ True False]
Unique values in 'altQtyUnitCode': [-1 15  8]
Unique values in 'altQtyUnitAbbr': [nan 'g' 'kg']
Unique values in 'altQty': [0.0000000e+00 1.2000000e+01 4.3000000e+01 1.3000000e+01 2.6000000e+01
 1.0000000e+01 7.5600000e+00 1.1000000e+01 1.0000000e+00 1.8000000e+01
 9.0000000e+00 8.0000000e+00 7.0000000e+00 6.0000000e+00 9.2440000e+01
 5.0000000e+00 1.4000000e+01 2.0000000e+00 8.1660000e+01 7.9760000e+01
 1.9000000e+00 1.0500000e+02 1.0000000e+02 4.0000000e+00 1.0683000e+02
 3.0000000e+00 3.4000004e+07 3.4000000e+07 1.0307940e+06 1.0307900e+06]
Unique values in 'netWgt': [0.00000000e+00            nan 3.93558200e+03 3.90970800e+03
 2.28355941e+05 1.85619000e+02 2.30272790e+04 7.24000000e-01
 1.00000000e-03 9.97400000e+01 8.10300000e+01 9.29600000e+01
 1.07000000e+02 7.92300000e+01 7.84300000e+01 8.00000000e-01
 1.11010000e+02 1.10740000e+02 2.70000000e-01 7.98000000e+01
 8.98600000e+01 9.51600000e+01 1.03730000e+02 8.15000000e+01
 1.00790000e+02 9.87900000e+01 2.00000000e+00 8.96100000e+01
 8.16600000e+01 7.97600000e+01 1.90000000e+00 1.07130000e+02
 7.57100000e+01 8.62800000e+01 8.70200000e+01 8.68500000e+01
 1.70000000e-01 8.70500000e+01 7.92600000e+01 1.00000000e-01
 7.91600000e+01 6.51500000e+01 6.76700000e+01 8.11800000e+01
 7.61800000e+01 5.00000000e+00 6.66000000e+01 3.00000000e-01
 1.06830000e+02 7.22200000e+01 5.42400000e+01 9.45300000e+01
 6.05300000e+01 3.40000000e+01 3.68400000e+01 5.75100000e+01
 5.74400000e+01 7.00000000e-02 6.53900000e+01 6.43900000e+01
 1.00000000e+00 7.71800000e+01 6.81300000e+01 5.04200000e+01
 6.51300000e+01 8.04600000e+01 6.10900000e+01 1.93700000e+01
 5.62200000e+01]
Unique values in 'isNetWgtEstimated': [ True False]
Unique values in 'fobvalue': [9.22053540e+07 8.36216776e+06 1.16564443e+08 1.16097165e+08
 4.67278000e+05 7.94118188e+06 1.49991832e+08 7.48733320e+06
 1.59854428e+08 4.86329500e+06 1.54991133e+08 1.02537500e+06
 1.58829053e+08 1.53965758e+08 7.76826940e+06 8.22421505e+08
 4.39006100e+06 8.17557296e+08 4.74148000e+05 8.08945605e+06
 1.44837102e+08 4.60380000e+05 1.43873996e+08 5.02726000e+05
 7.81904668e+06 9.08087710e+07 4.71986000e+05 2.28831000e+05
 6.12634100e+06 8.39816130e+07 6.99918325e+06 1.33093519e+08
 2.21585500e+06 1.09065300e+06 1.28805404e+08 9.81607000e+05
 8.01623693e+06 9.23707090e+07 1.80300000e+05 9.10783490e+07
 1.11206000e+06 8.26603408e+06 1.34969063e+08 1.34442406e+08
 5.26657000e+05 1.41186298e+08 5.75923000e+06 3.60718000e+05
 1.34208819e+08 8.57531000e+05 1.54214206e+07 1.07829616e+08
 1.06698245e+08 1.13137100e+06 9.10821055e+06 4.08034230e+07
 7.17087500e+06 5.12700000e+04 3.26914830e+07 8.89795000e+05
 9.12850056e+06 1.33484465e+08 1.32555423e+08 9.29042000e+05
 7.75360081e+06 4.55942620e+07 4.44009850e+07 1.19327700e+06
 7.85842662e+06 9.02265810e+07 8.60509240e+07 1.12803400e+06
 3.04762300e+06 5.98354042e+06 8.85559470e+07 3.87841200e+06
 8.46775350e+07 1.34468006e+07 4.62731150e+07 3.83099630e+07
 7.96315200e+06 9.02175858e+06 3.16239580e+04 8.99013462e+06
 6.49562860e+07 6.30052360e+07 1.95105000e+06 7.98147851e+06
 8.05245820e+07 1.91472900e+06 7.73461250e+07 1.26372800e+06
 6.23497848e+06 8.43738640e+07 7.43435850e+07 1.29566819e+07
 4.28579560e+07 7.13927816e+06 1.19153639e+08 1.15342069e+08
 3.81157000e+06 6.83519190e+06 7.12807790e+06 5.08411466e+06
 5.84785270e+06 4.88665122e+06 6.37921867e+06 6.70178559e+06
 1.27825013e+07 5.42023362e+06 6.96298145e+06 5.69761221e+06
 6.07081362e+06 6.04093824e+06 2.98753860e+04 6.06613178e+06
 4.61648859e+06 3.52814017e+06 1.17674311e+07 6.19142426e+06
 7.70993496e+06 5.29284514e+06 6.52869827e+06 5.31670143e+06
 5.30880810e+06 7.89332900e+03 5.56486981e+06 5.46045259e+06
 1.04417215e+05 6.70235677e+06 6.61258321e+06 8.97735590e+04
 5.94558861e+06 4.70852558e+06 5.15497032e+06 6.13488178e+06
 4.77709178e+06 4.77673228e+06 3.59501000e+02 6.36082178e+06
 6.35843745e+06 2.38432800e+03 4.61512837e+06 5.58332249e+06
 5.42026882e+06 5.97176559e+06 4.73582627e+06 5.65843855e+06
 5.58482467e+06 7.36138860e+04 5.23395096e+06 5.09963855e+06
 4.98571121e+06 1.13927334e+05 6.62982762e+06 4.61923736e+06
 5.12003241e+06 5.07952032e+06 5.06970603e+06 9.81429000e+03
 4.57461747e+06 4.51918086e+06 5.54366090e+04 4.19057075e+06
 5.46549600e+03 4.18510526e+06 3.18226048e+06 3.28522951e+06
 4.31455860e+06 4.03063529e+06 2.83923303e+05 3.54575470e+06
 1.55803870e+04 6.61424723e+06 4.20710069e+06 2.93573040e+06
 5.36311924e+06 3.58242177e+06 1.78069748e+06 2.16709852e+06
 3.33171431e+06 3.32790402e+06 3.81029600e+03 3.91303537e+06
 3.85663379e+06 5.64015730e+04 4.58512875e+06 3.96516019e+06
 2.88533663e+06 3.99388853e+06 3.93593014e+06 5.79583910e+04
 4.80122380e+06 3.81383708e+06 9.87386728e+05 3.52806427e+06]
Unique values in 'primaryValue': [9.22053540e+07 8.36216776e+06 1.16564443e+08 1.16097165e+08
 4.67278000e+05 7.94118188e+06 1.49991832e+08 7.48733320e+06
 1.59854428e+08 4.86329500e+06 1.54991133e+08 1.02537500e+06
 1.58829053e+08 1.53965758e+08 7.76826940e+06 8.22421505e+08
 4.39006100e+06 8.17557296e+08 4.74148000e+05 8.08945605e+06
 1.44837102e+08 4.60380000e+05 1.43873996e+08 5.02726000e+05
 7.81904668e+06 9.08087710e+07 4.71986000e+05 2.28831000e+05
 6.12634100e+06 8.39816130e+07 6.99918325e+06 1.33093519e+08
 2.21585500e+06 1.09065300e+06 1.28805404e+08 9.81607000e+05
 8.01623693e+06 9.23707090e+07 1.80300000e+05 9.10783490e+07
 1.11206000e+06 8.26603408e+06 1.34969063e+08 1.34442406e+08
 5.26657000e+05 1.41186298e+08 5.75923000e+06 3.60718000e+05
 1.34208819e+08 8.57531000e+05 1.54214206e+07 1.07829616e+08
 1.06698245e+08 1.13137100e+06 9.10821055e+06 4.08034230e+07
 7.17087500e+06 5.12700000e+04 3.26914830e+07 8.89795000e+05
 9.12850056e+06 1.33484465e+08 1.32555423e+08 9.29042000e+05
 7.75360081e+06 4.55942620e+07 4.44009850e+07 1.19327700e+06
 7.85842662e+06 9.02265810e+07 8.60509240e+07 1.12803400e+06
 3.04762300e+06 5.98354042e+06 8.85559470e+07 3.87841200e+06
 8.46775350e+07 1.34468006e+07 4.62731150e+07 3.83099630e+07
 7.96315200e+06 9.02175858e+06 3.16239580e+04 8.99013462e+06
 6.49562860e+07 6.30052360e+07 1.95105000e+06 7.98147851e+06
 8.05245820e+07 1.91472900e+06 7.73461250e+07 1.26372800e+06
 6.23497848e+06 8.43738640e+07 7.43435850e+07 1.29566819e+07
 4.28579560e+07 7.13927816e+06 1.19153639e+08 1.15342069e+08
 3.81157000e+06 6.83519190e+06 7.12807790e+06 5.08411466e+06
 5.84785270e+06 4.88665122e+06 6.37921867e+06 6.70178559e+06
 1.27825013e+07 5.42023362e+06 6.96298145e+06 5.69761221e+06
 6.07081362e+06 6.04093824e+06 2.98753860e+04 6.06613178e+06
 4.61648859e+06 3.52814017e+06 1.17674311e+07 6.19142426e+06
 7.70993496e+06 5.29284514e+06 6.52869827e+06 5.31670143e+06
 5.30880810e+06 7.89332900e+03 5.56486981e+06 5.46045259e+06
 1.04417215e+05 6.70235677e+06 6.61258321e+06 8.97735590e+04
 5.94558861e+06 4.70852558e+06 5.15497032e+06 6.13488178e+06
 4.77709178e+06 4.77673228e+06 3.59501000e+02 6.36082178e+06
 6.35843745e+06 2.38432800e+03 4.61512837e+06 5.58332249e+06
 5.42026882e+06 5.97176559e+06 4.73582627e+06 5.65843855e+06
 5.58482467e+06 7.36138860e+04 5.23395096e+06 5.09963855e+06
 4.98571121e+06 1.13927334e+05 6.62982762e+06 4.61923736e+06
 5.12003241e+06 5.07952032e+06 5.06970603e+06 9.81429000e+03
 4.57461747e+06 4.51918086e+06 5.54366090e+04 4.19057075e+06
 5.46549600e+03 4.18510526e+06 3.18226048e+06 3.28522951e+06
 4.31455860e+06 4.03063529e+06 2.83923303e+05 3.54575470e+06
 1.55803870e+04 6.61424723e+06 4.20710069e+06 2.93573040e+06
 5.36311924e+06 3.58242177e+06 1.78069748e+06 2.16709852e+06
 3.33171431e+06 3.32790402e+06 3.81029600e+03 3.91303537e+06
 3.85663379e+06 5.64015730e+04 4.58512875e+06 3.96516019e+06
 2.88533663e+06 3.99388853e+06 3.93593014e+06 5.79583910e+04
 4.80122380e+06 3.81383708e+06 9.87386728e+05 3.52806427e+06]
Unique values in 'legacyEstimationFlag': [6 0]
Unique values in 'isReported': [False  True]
Unique values in 'isAggregate': [ True False]

In [13]:
combine_df.tail()

,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,partnerCode,partnerISO,partnerDesc,...,altQtyUnitCode,altQtyUnitAbbr,altQty,netWgt,isNetWgtEstimated,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
1051,20231101,2023,11,202311,894,ZMB,Zambia,784,ARE,United Arab Emirates,...,15,g,1030790.0,19.37,False,987386.728,987386.728,0,False,True
1052,20231201,2023,12,202312,894,ZMB,Zambia,0,W00,World,...,15,g,4.0,56.22,False,3528064.267,3528064.267,0,False,True
1053,20231201,2023,12,202312,894,ZMB,Zambia,710,ZAF,South Africa,...,15,g,4.0,56.22,False,3528064.267,3528064.267,0,False,True
1054,20231201,2023,12,202312,894,ZMB,Zambia,0,W00,World,...,15,g,4.0,56.22,False,3528064.267,3528064.267,0,False,True
1055,20231201,2023,12,202312,894,ZMB,Zambia,710,ZAF,South Africa,...,15,g,4.0,56.22,False,3528064.267,3528064.267,0,False,True

In [14]:
combine_df = combine_df.drop(['refPeriodId','period','reporterCode','reporterISO','partnerCode','partnerISO'],axis=1)

In [15]:
combine_df = combine_df.drop(['classificationCode','cmdDesc','aggrLevel','isLeaf'],axis=1)

In [16]:
combine_df.tail()

,refYear,refMonth,reporterDesc,partnerDesc,cmdCode,motCode,motDesc,qtyUnitCode,qty,isQtyEstimated,altQtyUnitCode,altQtyUnitAbbr,altQty,netWgt,isNetWgtEstimated,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
1051,2023,11,Zambia,United Arab Emirates,710813,1000,Air,8,1030.79,False,15,g,1030790.0,19.37,False,987386.728,987386.728,0,False,True
1052,2023,12,Zambia,World,710813,0,TOTAL MOT,-1,0.00,False,15,g,4.0,56.22,False,3528064.267,3528064.267,0,False,True
1053,2023,12,Zambia,South Africa,710813,0,TOTAL MOT,-1,0.00,False,15,g,4.0,56.22,False,3528064.267,3528064.267,0,False,True
1054,2023,12,Zambia,World,710813,1000,Air,-1,0.00,False,15,g,4.0,56.22,False,3528064.267,3528064.267,0,False,True
1055,2023,12,Zambia,South Africa,710813,1000,Air,-1,0.00,False,15,g,4.0,56.22,False,3528064.267,3528064.267,0,False,True

In [17]:
for column in combine_df.columns:
    unique_values = combine_df[column].unique()
    print(f"Unique values in '{column}': {unique_values}")

Unique values in 'refYear': [2017 2018 2019 2020 2021 2022 2023]
Unique values in 'refMonth': [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique values in 'reporterDesc': ['Sudan' 'Zambia']
Unique values in 'partnerDesc': ['World' 'United Arab Emirates' 'South Africa' 'Türkiye' 'Armenia' 'Aruba'
 'France' 'Saudi Arabia' 'American Samoa' 'Denmark' 'Qatar' 'Ecuador'
 'Nigeria' 'USA' 'Argentina' 'Uganda' 'China, Hong Kong SAR' 'Italy'
 'Malaysia']
Unique values in 'cmdCode': [  7108 710812 710813 710811]
Unique values in 'motCode': [   0 1000]
Unique values in 'motDesc': ['TOTAL MOT' 'Air']
Unique values in 'qtyUnitCode': [ 8 -1]
Unique values in 'qty': [2.34891300e+03 0.00000000e+00 2.96945600e+03 2.95755200e+03
 1.19040000e+01 3.82101200e+03 4.05947400e+03 1.23891000e+02
 3.93558200e+03 2.58740000e+01 4.03360000e+03 3.90970800e+03
 2.29714587e+05 1.22620900e+03 2.28355941e+05 1.32437000e+02
 3.68969600e+03 1.17280000e+01 3.66516100e+03 1.28070000e+01
 2.31333500e+03 1.20240000e+01 5.82900000e+00 1.56067000e+02
 2.13941500e+03 1.85619000e+02 3.39053100e+03 5.64480000e+01
 2.77840000e+01 3.28129200e+03 2.50060000e+01 2.35312500e+03
 4.59300000e+00 2.32020300e+03 2.83300000e+01 3.43831000e+03
 3.42489300e+03 1.34160000e+01 3.59669200e+03 1.46715000e+02
 9.18900000e+00 3.41894300e+03 2.18450000e+01 2.74693800e+03
 2.71811600e+03 2.88210000e+01 9.71925000e+02 1.70808000e+02
 1.22100000e+00 7.78701000e+02 2.11950000e+01 2.30494090e+04
 2.30272790e+04 2.21300000e+01 1.08604200e+03 1.05761800e+03
 2.84230000e+01 2.14917000e+03 2.04970700e+03 2.68690000e+01
 7.25930000e+01 2.10937600e+03 9.23830000e+01 2.01699300e+03
 1.10221200e+03 9.12532000e+02 1.89680000e+02 1.54723900e+03
 1.50076600e+03 4.64730000e+01 1.91807100e+03 4.56080000e+01
 1.84236100e+03 3.01020000e+01 2.00976000e+03 1.77084200e+03
 1.02086400e+03 2.83820400e+03 2.74741300e+03 9.07900000e+01
 7.24000000e-01 1.00000000e-03 8.16600000e+01 7.97600000e+01
 1.90000000e+00 1.07130000e+02 2.00000000e-03 1.00000000e-01
 1.06830000e+02 1.03079000e+03]
Unique values in 'isQtyEstimated': [ True False]
Unique values in 'altQtyUnitCode': [-1 15  8]
Unique values in 'altQtyUnitAbbr': [nan 'g' 'kg']
Unique values in 'altQty': [0.0000000e+00 1.2000000e+01 4.3000000e+01 1.3000000e+01 2.6000000e+01
 1.0000000e+01 7.5600000e+00 1.1000000e+01 1.0000000e+00 1.8000000e+01
 9.0000000e+00 8.0000000e+00 7.0000000e+00 6.0000000e+00 9.2440000e+01
 5.0000000e+00 1.4000000e+01 2.0000000e+00 8.1660000e+01 7.9760000e+01
 1.9000000e+00 1.0500000e+02 1.0000000e+02 4.0000000e+00 1.0683000e+02
 3.0000000e+00 3.4000004e+07 3.4000000e+07 1.0307940e+06 1.0307900e+06]
Unique values in 'netWgt': [0.00000000e+00            nan 3.93558200e+03 3.90970800e+03
 2.28355941e+05 1.85619000e+02 2.30272790e+04 7.24000000e-01
 1.00000000e-03 9.97400000e+01 8.10300000e+01 9.29600000e+01
 1.07000000e+02 7.92300000e+01 7.84300000e+01 8.00000000e-01
 1.11010000e+02 1.10740000e+02 2.70000000e-01 7.98000000e+01
 8.98600000e+01 9.51600000e+01 1.03730000e+02 8.15000000e+01
 1.00790000e+02 9.87900000e+01 2.00000000e+00 8.96100000e+01
 8.16600000e+01 7.97600000e+01 1.90000000e+00 1.07130000e+02
 7.57100000e+01 8.62800000e+01 8.70200000e+01 8.68500000e+01
 1.70000000e-01 8.70500000e+01 7.92600000e+01 1.00000000e-01
 7.91600000e+01 6.51500000e+01 6.76700000e+01 8.11800000e+01
 7.61800000e+01 5.00000000e+00 6.66000000e+01 3.00000000e-01
 1.06830000e+02 7.22200000e+01 5.42400000e+01 9.45300000e+01
 6.05300000e+01 3.40000000e+01 3.68400000e+01 5.75100000e+01
 5.74400000e+01 7.00000000e-02 6.53900000e+01 6.43900000e+01
 1.00000000e+00 7.71800000e+01 6.81300000e+01 5.04200000e+01
 6.51300000e+01 8.04600000e+01 6.10900000e+01 1.93700000e+01
 5.62200000e+01]
Unique values in 'isNetWgtEstimated': [ True False]
Unique values in 'fobvalue': [9.22053540e+07 8.36216776e+06 1.16564443e+08 1.16097165e+08
 4.67278000e+05 7.94118188e+06 1.49991832e+08 7.48733320e+06
 1.59854428e+08 4.86329500e+06 1.54991133e+08 1.02537500e+06
 1.58829053e+08 1.53965758e+08 7.76826940e+06 8.22421505e+08
 4.39006100e+06 8.17557296e+08 4.74148000e+05 8.08945605e+06
 1.44837102e+08 4.60380000e+05 1.43873996e+08 5.02726000e+05
 7.81904668e+06 9.08087710e+07 4.71986000e+05 2.28831000e+05
 6.12634100e+06 8.39816130e+07 6.99918325e+06 1.33093519e+08
 2.21585500e+06 1.09065300e+06 1.28805404e+08 9.81607000e+05
 8.01623693e+06 9.23707090e+07 1.80300000e+05 9.10783490e+07
 1.11206000e+06 8.26603408e+06 1.34969063e+08 1.34442406e+08
 5.26657000e+05 1.41186298e+08 5.75923000e+06 3.60718000e+05
 1.34208819e+08 8.57531000e+05 1.54214206e+07 1.07829616e+08
 1.06698245e+08 1.13137100e+06 9.10821055e+06 4.08034230e+07
 7.17087500e+06 5.12700000e+04 3.26914830e+07 8.89795000e+05
 9.12850056e+06 1.33484465e+08 1.32555423e+08 9.29042000e+05
 7.75360081e+06 4.55942620e+07 4.44009850e+07 1.19327700e+06
 7.85842662e+06 9.02265810e+07 8.60509240e+07 1.12803400e+06
 3.04762300e+06 5.98354042e+06 8.85559470e+07 3.87841200e+06
 8.46775350e+07 1.34468006e+07 4.62731150e+07 3.83099630e+07
 7.96315200e+06 9.02175858e+06 3.16239580e+04 8.99013462e+06
 6.49562860e+07 6.30052360e+07 1.95105000e+06 7.98147851e+06
 8.05245820e+07 1.91472900e+06 7.73461250e+07 1.26372800e+06
 6.23497848e+06 8.43738640e+07 7.43435850e+07 1.29566819e+07
 4.28579560e+07 7.13927816e+06 1.19153639e+08 1.15342069e+08
 3.81157000e+06 6.83519190e+06 7.12807790e+06 5.08411466e+06
 5.84785270e+06 4.88665122e+06 6.37921867e+06 6.70178559e+06
 1.27825013e+07 5.42023362e+06 6.96298145e+06 5.69761221e+06
 6.07081362e+06 6.04093824e+06 2.98753860e+04 6.06613178e+06
 4.61648859e+06 3.52814017e+06 1.17674311e+07 6.19142426e+06
 7.70993496e+06 5.29284514e+06 6.52869827e+06 5.31670143e+06
 5.30880810e+06 7.89332900e+03 5.56486981e+06 5.46045259e+06
 1.04417215e+05 6.70235677e+06 6.61258321e+06 8.97735590e+04
 5.94558861e+06 4.70852558e+06 5.15497032e+06 6.13488178e+06
 4.77709178e+06 4.77673228e+06 3.59501000e+02 6.36082178e+06
 6.35843745e+06 2.38432800e+03 4.61512837e+06 5.58332249e+06
 5.42026882e+06 5.97176559e+06 4.73582627e+06 5.65843855e+06
 5.58482467e+06 7.36138860e+04 5.23395096e+06 5.09963855e+06
 4.98571121e+06 1.13927334e+05 6.62982762e+06 4.61923736e+06
 5.12003241e+06 5.07952032e+06 5.06970603e+06 9.81429000e+03
 4.57461747e+06 4.51918086e+06 5.54366090e+04 4.19057075e+06
 5.46549600e+03 4.18510526e+06 3.18226048e+06 3.28522951e+06
 4.31455860e+06 4.03063529e+06 2.83923303e+05 3.54575470e+06
 1.55803870e+04 6.61424723e+06 4.20710069e+06 2.93573040e+06
 5.36311924e+06 3.58242177e+06 1.78069748e+06 2.16709852e+06
 3.33171431e+06 3.32790402e+06 3.81029600e+03 3.91303537e+06
 3.85663379e+06 5.64015730e+04 4.58512875e+06 3.96516019e+06
 2.88533663e+06 3.99388853e+06 3.93593014e+06 5.79583910e+04
 4.80122380e+06 3.81383708e+06 9.87386728e+05 3.52806427e+06]
Unique values in 'primaryValue': [9.22053540e+07 8.36216776e+06 1.16564443e+08 1.16097165e+08
 4.67278000e+05 7.94118188e+06 1.49991832e+08 7.48733320e+06
 1.59854428e+08 4.86329500e+06 1.54991133e+08 1.02537500e+06
 1.58829053e+08 1.53965758e+08 7.76826940e+06 8.22421505e+08
 4.39006100e+06 8.17557296e+08 4.74148000e+05 8.08945605e+06
 1.44837102e+08 4.60380000e+05 1.43873996e+08 5.02726000e+05
 7.81904668e+06 9.08087710e+07 4.71986000e+05 2.28831000e+05
 6.12634100e+06 8.39816130e+07 6.99918325e+06 1.33093519e+08
 2.21585500e+06 1.09065300e+06 1.28805404e+08 9.81607000e+05
 8.01623693e+06 9.23707090e+07 1.80300000e+05 9.10783490e+07
 1.11206000e+06 8.26603408e+06 1.34969063e+08 1.34442406e+08
 5.26657000e+05 1.41186298e+08 5.75923000e+06 3.60718000e+05
 1.34208819e+08 8.57531000e+05 1.54214206e+07 1.07829616e+08
 1.06698245e+08 1.13137100e+06 9.10821055e+06 4.08034230e+07
 7.17087500e+06 5.12700000e+04 3.26914830e+07 8.89795000e+05
 9.12850056e+06 1.33484465e+08 1.32555423e+08 9.29042000e+05
 7.75360081e+06 4.55942620e+07 4.44009850e+07 1.19327700e+06
 7.85842662e+06 9.02265810e+07 8.60509240e+07 1.12803400e+06
 3.04762300e+06 5.98354042e+06 8.85559470e+07 3.87841200e+06
 8.46775350e+07 1.34468006e+07 4.62731150e+07 3.83099630e+07
 7.96315200e+06 9.02175858e+06 3.16239580e+04 8.99013462e+06
 6.49562860e+07 6.30052360e+07 1.95105000e+06 7.98147851e+06
 8.05245820e+07 1.91472900e+06 7.73461250e+07 1.26372800e+06
 6.23497848e+06 8.43738640e+07 7.43435850e+07 1.29566819e+07
 4.28579560e+07 7.13927816e+06 1.19153639e+08 1.15342069e+08
 3.81157000e+06 6.83519190e+06 7.12807790e+06 5.08411466e+06
 5.84785270e+06 4.88665122e+06 6.37921867e+06 6.70178559e+06
 1.27825013e+07 5.42023362e+06 6.96298145e+06 5.69761221e+06
 6.07081362e+06 6.04093824e+06 2.98753860e+04 6.06613178e+06
 4.61648859e+06 3.52814017e+06 1.17674311e+07 6.19142426e+06
 7.70993496e+06 5.29284514e+06 6.52869827e+06 5.31670143e+06
 5.30880810e+06 7.89332900e+03 5.56486981e+06 5.46045259e+06
 1.04417215e+05 6.70235677e+06 6.61258321e+06 8.97735590e+04
 5.94558861e+06 4.70852558e+06 5.15497032e+06 6.13488178e+06
 4.77709178e+06 4.77673228e+06 3.59501000e+02 6.36082178e+06
 6.35843745e+06 2.38432800e+03 4.61512837e+06 5.58332249e+06
 5.42026882e+06 5.97176559e+06 4.73582627e+06 5.65843855e+06
 5.58482467e+06 7.36138860e+04 5.23395096e+06 5.09963855e+06
 4.98571121e+06 1.13927334e+05 6.62982762e+06 4.61923736e+06
 5.12003241e+06 5.07952032e+06 5.06970603e+06 9.81429000e+03
 4.57461747e+06 4.51918086e+06 5.54366090e+04 4.19057075e+06
 5.46549600e+03 4.18510526e+06 3.18226048e+06 3.28522951e+06
 4.31455860e+06 4.03063529e+06 2.83923303e+05 3.54575470e+06
 1.55803870e+04 6.61424723e+06 4.20710069e+06 2.93573040e+06
 5.36311924e+06 3.58242177e+06 1.78069748e+06 2.16709852e+06
 3.33171431e+06 3.32790402e+06 3.81029600e+03 3.91303537e+06
 3.85663379e+06 5.64015730e+04 4.58512875e+06 3.96516019e+06
 2.88533663e+06 3.99388853e+06 3.93593014e+06 5.79583910e+04
 4.80122380e+06 3.81383708e+06 9.87386728e+05 3.52806427e+06]
Unique values in 'legacyEstimationFlag': [6 0]
Unique values in 'isReported': [False  True]
Unique values in 'isAggregate': [ True False]

In [18]:
combine_df = combine_df.drop(['motCode','motDesc','qtyUnitCode','isQtyEstimated','altQtyUnitCode','isNetWgtEstimated','legacyEstimationFlag','isReported','isAggregate'],axis=1)

In [19]:
for column in combine_df.columns:
    unique_values = combine_df[column].unique()
    print(f"Unique values in '{column}': {unique_values}")

Unique values in 'refYear': [2017 2018 2019 2020 2021 2022 2023]
Unique values in 'refMonth': [ 1  2  3  4  5  6  7  8  9 10 11 12]
Unique values in 'reporterDesc': ['Sudan' 'Zambia']
Unique values in 'partnerDesc': ['World' 'United Arab Emirates' 'South Africa' 'Türkiye' 'Armenia' 'Aruba'
 'France' 'Saudi Arabia' 'American Samoa' 'Denmark' 'Qatar' 'Ecuador'
 'Nigeria' 'USA' 'Argentina' 'Uganda' 'China, Hong Kong SAR' 'Italy'
 'Malaysia']
Unique values in 'cmdCode': [  7108 710812 710813 710811]
Unique values in 'qty': [2.34891300e+03 0.00000000e+00 2.96945600e+03 2.95755200e+03
 1.19040000e+01 3.82101200e+03 4.05947400e+03 1.23891000e+02
 3.93558200e+03 2.58740000e+01 4.03360000e+03 3.90970800e+03
 2.29714587e+05 1.22620900e+03 2.28355941e+05 1.32437000e+02
 3.68969600e+03 1.17280000e+01 3.66516100e+03 1.28070000e+01
 2.31333500e+03 1.20240000e+01 5.82900000e+00 1.56067000e+02
 2.13941500e+03 1.85619000e+02 3.39053100e+03 5.64480000e+01
 2.77840000e+01 3.28129200e+03 2.50060000e+01 2.35312500e+03
 4.59300000e+00 2.32020300e+03 2.83300000e+01 3.43831000e+03
 3.42489300e+03 1.34160000e+01 3.59669200e+03 1.46715000e+02
 9.18900000e+00 3.41894300e+03 2.18450000e+01 2.74693800e+03
 2.71811600e+03 2.88210000e+01 9.71925000e+02 1.70808000e+02
 1.22100000e+00 7.78701000e+02 2.11950000e+01 2.30494090e+04
 2.30272790e+04 2.21300000e+01 1.08604200e+03 1.05761800e+03
 2.84230000e+01 2.14917000e+03 2.04970700e+03 2.68690000e+01
 7.25930000e+01 2.10937600e+03 9.23830000e+01 2.01699300e+03
 1.10221200e+03 9.12532000e+02 1.89680000e+02 1.54723900e+03
 1.50076600e+03 4.64730000e+01 1.91807100e+03 4.56080000e+01
 1.84236100e+03 3.01020000e+01 2.00976000e+03 1.77084200e+03
 1.02086400e+03 2.83820400e+03 2.74741300e+03 9.07900000e+01
 7.24000000e-01 1.00000000e-03 8.16600000e+01 7.97600000e+01
 1.90000000e+00 1.07130000e+02 2.00000000e-03 1.00000000e-01
 1.06830000e+02 1.03079000e+03]
Unique values in 'altQtyUnitAbbr': [nan 'g' 'kg']
Unique values in 'altQty': [0.0000000e+00 1.2000000e+01 4.3000000e+01 1.3000000e+01 2.6000000e+01
 1.0000000e+01 7.5600000e+00 1.1000000e+01 1.0000000e+00 1.8000000e+01
 9.0000000e+00 8.0000000e+00 7.0000000e+00 6.0000000e+00 9.2440000e+01
 5.0000000e+00 1.4000000e+01 2.0000000e+00 8.1660000e+01 7.9760000e+01
 1.9000000e+00 1.0500000e+02 1.0000000e+02 4.0000000e+00 1.0683000e+02
 3.0000000e+00 3.4000004e+07 3.4000000e+07 1.0307940e+06 1.0307900e+06]
Unique values in 'netWgt': [0.00000000e+00            nan 3.93558200e+03 3.90970800e+03
 2.28355941e+05 1.85619000e+02 2.30272790e+04 7.24000000e-01
 1.00000000e-03 9.97400000e+01 8.10300000e+01 9.29600000e+01
 1.07000000e+02 7.92300000e+01 7.84300000e+01 8.00000000e-01
 1.11010000e+02 1.10740000e+02 2.70000000e-01 7.98000000e+01
 8.98600000e+01 9.51600000e+01 1.03730000e+02 8.15000000e+01
 1.00790000e+02 9.87900000e+01 2.00000000e+00 8.96100000e+01
 8.16600000e+01 7.97600000e+01 1.90000000e+00 1.07130000e+02
 7.57100000e+01 8.62800000e+01 8.70200000e+01 8.68500000e+01
 1.70000000e-01 8.70500000e+01 7.92600000e+01 1.00000000e-01
 7.91600000e+01 6.51500000e+01 6.76700000e+01 8.11800000e+01
 7.61800000e+01 5.00000000e+00 6.66000000e+01 3.00000000e-01
 1.06830000e+02 7.22200000e+01 5.42400000e+01 9.45300000e+01
 6.05300000e+01 3.40000000e+01 3.68400000e+01 5.75100000e+01
 5.74400000e+01 7.00000000e-02 6.53900000e+01 6.43900000e+01
 1.00000000e+00 7.71800000e+01 6.81300000e+01 5.04200000e+01
 6.51300000e+01 8.04600000e+01 6.10900000e+01 1.93700000e+01
 5.62200000e+01]
Unique values in 'fobvalue': [9.22053540e+07 8.36216776e+06 1.16564443e+08 1.16097165e+08
 4.67278000e+05 7.94118188e+06 1.49991832e+08 7.48733320e+06
 1.59854428e+08 4.86329500e+06 1.54991133e+08 1.02537500e+06
 1.58829053e+08 1.53965758e+08 7.76826940e+06 8.22421505e+08
 4.39006100e+06 8.17557296e+08 4.74148000e+05 8.08945605e+06
 1.44837102e+08 4.60380000e+05 1.43873996e+08 5.02726000e+05
 7.81904668e+06 9.08087710e+07 4.71986000e+05 2.28831000e+05
 6.12634100e+06 8.39816130e+07 6.99918325e+06 1.33093519e+08
 2.21585500e+06 1.09065300e+06 1.28805404e+08 9.81607000e+05
 8.01623693e+06 9.23707090e+07 1.80300000e+05 9.10783490e+07
 1.11206000e+06 8.26603408e+06 1.34969063e+08 1.34442406e+08
 5.26657000e+05 1.41186298e+08 5.75923000e+06 3.60718000e+05
 1.34208819e+08 8.57531000e+05 1.54214206e+07 1.07829616e+08
 1.06698245e+08 1.13137100e+06 9.10821055e+06 4.08034230e+07
 7.17087500e+06 5.12700000e+04 3.26914830e+07 8.89795000e+05
 9.12850056e+06 1.33484465e+08 1.32555423e+08 9.29042000e+05
 7.75360081e+06 4.55942620e+07 4.44009850e+07 1.19327700e+06
 7.85842662e+06 9.02265810e+07 8.60509240e+07 1.12803400e+06
 3.04762300e+06 5.98354042e+06 8.85559470e+07 3.87841200e+06
 8.46775350e+07 1.34468006e+07 4.62731150e+07 3.83099630e+07
 7.96315200e+06 9.02175858e+06 3.16239580e+04 8.99013462e+06
 6.49562860e+07 6.30052360e+07 1.95105000e+06 7.98147851e+06
 8.05245820e+07 1.91472900e+06 7.73461250e+07 1.26372800e+06
 6.23497848e+06 8.43738640e+07 7.43435850e+07 1.29566819e+07
 4.28579560e+07 7.13927816e+06 1.19153639e+08 1.15342069e+08
 3.81157000e+06 6.83519190e+06 7.12807790e+06 5.08411466e+06
 5.84785270e+06 4.88665122e+06 6.37921867e+06 6.70178559e+06
 1.27825013e+07 5.42023362e+06 6.96298145e+06 5.69761221e+06
 6.07081362e+06 6.04093824e+06 2.98753860e+04 6.06613178e+06
 4.61648859e+06 3.52814017e+06 1.17674311e+07 6.19142426e+06
 7.70993496e+06 5.29284514e+06 6.52869827e+06 5.31670143e+06
 5.30880810e+06 7.89332900e+03 5.56486981e+06 5.46045259e+06
 1.04417215e+05 6.70235677e+06 6.61258321e+06 8.97735590e+04
 5.94558861e+06 4.70852558e+06 5.15497032e+06 6.13488178e+06
 4.77709178e+06 4.77673228e+06 3.59501000e+02 6.36082178e+06
 6.35843745e+06 2.38432800e+03 4.61512837e+06 5.58332249e+06
 5.42026882e+06 5.97176559e+06 4.73582627e+06 5.65843855e+06
 5.58482467e+06 7.36138860e+04 5.23395096e+06 5.09963855e+06
 4.98571121e+06 1.13927334e+05 6.62982762e+06 4.61923736e+06
 5.12003241e+06 5.07952032e+06 5.06970603e+06 9.81429000e+03
 4.57461747e+06 4.51918086e+06 5.54366090e+04 4.19057075e+06
 5.46549600e+03 4.18510526e+06 3.18226048e+06 3.28522951e+06
 4.31455860e+06 4.03063529e+06 2.83923303e+05 3.54575470e+06
 1.55803870e+04 6.61424723e+06 4.20710069e+06 2.93573040e+06
 5.36311924e+06 3.58242177e+06 1.78069748e+06 2.16709852e+06
 3.33171431e+06 3.32790402e+06 3.81029600e+03 3.91303537e+06
 3.85663379e+06 5.64015730e+04 4.58512875e+06 3.96516019e+06
 2.88533663e+06 3.99388853e+06 3.93593014e+06 5.79583910e+04
 4.80122380e+06 3.81383708e+06 9.87386728e+05 3.52806427e+06]
Unique values in 'primaryValue': [9.22053540e+07 8.36216776e+06 1.16564443e+08 1.16097165e+08
 4.67278000e+05 7.94118188e+06 1.49991832e+08 7.48733320e+06
 1.59854428e+08 4.86329500e+06 1.54991133e+08 1.02537500e+06
 1.58829053e+08 1.53965758e+08 7.76826940e+06 8.22421505e+08
 4.39006100e+06 8.17557296e+08 4.74148000e+05 8.08945605e+06
 1.44837102e+08 4.60380000e+05 1.43873996e+08 5.02726000e+05
 7.81904668e+06 9.08087710e+07 4.71986000e+05 2.28831000e+05
 6.12634100e+06 8.39816130e+07 6.99918325e+06 1.33093519e+08
 2.21585500e+06 1.09065300e+06 1.28805404e+08 9.81607000e+05
 8.01623693e+06 9.23707090e+07 1.80300000e+05 9.10783490e+07
 1.11206000e+06 8.26603408e+06 1.34969063e+08 1.34442406e+08
 5.26657000e+05 1.41186298e+08 5.75923000e+06 3.60718000e+05
 1.34208819e+08 8.57531000e+05 1.54214206e+07 1.07829616e+08
 1.06698245e+08 1.13137100e+06 9.10821055e+06 4.08034230e+07
 7.17087500e+06 5.12700000e+04 3.26914830e+07 8.89795000e+05
 9.12850056e+06 1.33484465e+08 1.32555423e+08 9.29042000e+05
 7.75360081e+06 4.55942620e+07 4.44009850e+07 1.19327700e+06
 7.85842662e+06 9.02265810e+07 8.60509240e+07 1.12803400e+06
 3.04762300e+06 5.98354042e+06 8.85559470e+07 3.87841200e+06
 8.46775350e+07 1.34468006e+07 4.62731150e+07 3.83099630e+07
 7.96315200e+06 9.02175858e+06 3.16239580e+04 8.99013462e+06
 6.49562860e+07 6.30052360e+07 1.95105000e+06 7.98147851e+06
 8.05245820e+07 1.91472900e+06 7.73461250e+07 1.26372800e+06
 6.23497848e+06 8.43738640e+07 7.43435850e+07 1.29566819e+07
 4.28579560e+07 7.13927816e+06 1.19153639e+08 1.15342069e+08
 3.81157000e+06 6.83519190e+06 7.12807790e+06 5.08411466e+06
 5.84785270e+06 4.88665122e+06 6.37921867e+06 6.70178559e+06
 1.27825013e+07 5.42023362e+06 6.96298145e+06 5.69761221e+06
 6.07081362e+06 6.04093824e+06 2.98753860e+04 6.06613178e+06
 4.61648859e+06 3.52814017e+06 1.17674311e+07 6.19142426e+06
 7.70993496e+06 5.29284514e+06 6.52869827e+06 5.31670143e+06
 5.30880810e+06 7.89332900e+03 5.56486981e+06 5.46045259e+06
 1.04417215e+05 6.70235677e+06 6.61258321e+06 8.97735590e+04
 5.94558861e+06 4.70852558e+06 5.15497032e+06 6.13488178e+06
 4.77709178e+06 4.77673228e+06 3.59501000e+02 6.36082178e+06
 6.35843745e+06 2.38432800e+03 4.61512837e+06 5.58332249e+06
 5.42026882e+06 5.97176559e+06 4.73582627e+06 5.65843855e+06
 5.58482467e+06 7.36138860e+04 5.23395096e+06 5.09963855e+06
 4.98571121e+06 1.13927334e+05 6.62982762e+06 4.61923736e+06
 5.12003241e+06 5.07952032e+06 5.06970603e+06 9.81429000e+03
 4.57461747e+06 4.51918086e+06 5.54366090e+04 4.19057075e+06
 5.46549600e+03 4.18510526e+06 3.18226048e+06 3.28522951e+06
 4.31455860e+06 4.03063529e+06 2.83923303e+05 3.54575470e+06
 1.55803870e+04 6.61424723e+06 4.20710069e+06 2.93573040e+06
 5.36311924e+06 3.58242177e+06 1.78069748e+06 2.16709852e+06
 3.33171431e+06 3.32790402e+06 3.81029600e+03 3.91303537e+06
 3.85663379e+06 5.64015730e+04 4.58512875e+06 3.96516019e+06
 2.88533663e+06 3.99388853e+06 3.93593014e+06 5.79583910e+04
 4.80122380e+06 3.81383708e+06 9.87386728e+05 3.52806427e+06]

In [20]:
combine_df.info

<bound method DataFrame.info of       refYear  refMonth reporterDesc           partnerDesc  cmdCode       qty  \
0        2017         1        Sudan                 World     7108  2348.913
1        2017         1        Sudan  United Arab Emirates     7108  2348.913
2        2017         1        Sudan                 World     7108  2348.913
3        2017         1        Sudan  United Arab Emirates     7108  2348.913
4        2017         1        Sudan                 World   710812  2348.913
...       ...       ...          ...                   ...      ...       ...
1051     2023        11       Zambia  United Arab Emirates   710813  1030.790
1052     2023        12       Zambia                 World   710813     0.000
1053     2023        12       Zambia          South Africa   710813     0.000
1054     2023        12       Zambia                 World   710813     0.000
1055     2023        12       Zambia          South Africa   710813     0.000

     altQtyUnitAbbr     altQty  netWgt      fobvalue  primaryValue
0               NaN        0.0    0.00  9.220535e+07  9.220535e+07
1               NaN        0.0    0.00  9.220535e+07  9.220535e+07
2               NaN        0.0    0.00  9.220535e+07  9.220535e+07
3               NaN        0.0    0.00  9.220535e+07  9.220535e+07
4               NaN        0.0    0.00  9.220535e+07  9.220535e+07
...             ...        ...     ...           ...           ...
1051              g  1030790.0   19.37  9.873867e+05  9.873867e+05
1052              g        4.0   56.22  3.528064e+06  3.528064e+06
1053              g        4.0   56.22  3.528064e+06  3.528064e+06
1054              g        4.0   56.22  3.528064e+06  3.528064e+06
1055              g        4.0   56.22  3.528064e+06  3.528064e+06

[1056 rows x 11 columns]>

In [21]:
# Get the number of rows and columns
rows, columns = combine_df.shape

# Print the results
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 1056
Number of columns: 11

In [22]:
combine_df

,refYear,refMonth,reporterDesc,partnerDesc,cmdCode,qty,altQtyUnitAbbr,altQty,netWgt,fobvalue,primaryValue
0,2017,1,Sudan,World,7108,2348.913,NaN,0.0,0.00,9.220535e+07,9.220535e+07
1,2017,1,Sudan,United Arab Emirates,7108,2348.913,NaN,0.0,0.00,9.220535e+07,9.220535e+07
2,2017,1,Sudan,World,7108,2348.913,NaN,0.0,0.00,9.220535e+07,9.220535e+07
3,2017,1,Sudan,United Arab Emirates,7108,2348.913,NaN,0.0,0.00,9.220535e+07,9.220535e+07
4,2017,1,Sudan,World,710812,2348.913,NaN,0.0,0.00,9.220535e+07,9.220535e+07
...,...,...,...,...,...,...,...,...,...,...,...
1051,2023,11,Zambia,United Arab Emirates,710813,1030.790,g,1030790.0,19.37,9.873867e+05,9.873867e+05
1052,2023,12,Zambia,World,710813,0.000,g,4.0,56.22,3.528064e+06,3.528064e+06
1053,2023,12,Zambia,South Africa,710813,0.000,g,4.0,56.22,3.528064e+06,3.528064e+06
1054,2023,12,Zambia,World,710813,0.000,g,4.0,56.22,3.528064e+06,3.528064e+06
1055,2023,12,Zambia,South Africa,710813,0.000,g,4.0,56.22,3.528064e+06,3.528064e+06

In [23]:
value_counts_altQtyUnitAbbr = combine_df['altQtyUnitAbbr'].value_counts(dropna=False)

print(value_counts_altQtyUnitAbbr)

altQtyUnitAbbr
NaN    520
g      520
kg      16
Name: count, dtype: int64

In [24]:
#we elminate the fob value
combine_df = combine_df.drop(['fobvalue'],axis=1)

In [25]:
combine_df

,refYear,refMonth,reporterDesc,partnerDesc,cmdCode,qty,altQtyUnitAbbr,altQty,netWgt,primaryValue
0,2017,1,Sudan,World,7108,2348.913,NaN,0.0,0.00,9.220535e+07
1,2017,1,Sudan,United Arab Emirates,7108,2348.913,NaN,0.0,0.00,9.220535e+07
2,2017,1,Sudan,World,7108,2348.913,NaN,0.0,0.00,9.220535e+07
3,2017,1,Sudan,United Arab Emirates,7108,2348.913,NaN,0.0,0.00,9.220535e+07
4,2017,1,Sudan,World,710812,2348.913,NaN,0.0,0.00,9.220535e+07
...,...,...,...,...,...,...,...,...,...,...
1051,2023,11,Zambia,United Arab Emirates,710813,1030.790,g,1030790.0,19.37,9.873867e+05
1052,2023,12,Zambia,World,710813,0.000,g,4.0,56.22,3.528064e+06
1053,2023,12,Zambia,South Africa,710813,0.000,g,4.0,56.22,3.528064e+06
1054,2023,12,Zambia,World,710813,0.000,g,4.0,56.22,3.528064e+06
1055,2023,12,Zambia,South Africa,710813,0.000,g,4.0,56.22,3.528064e+06

In [26]:
combine_df.info

<bound method DataFrame.info of       refYear  refMonth reporterDesc           partnerDesc  cmdCode       qty  \
0        2017         1        Sudan                 World     7108  2348.913
1        2017         1        Sudan  United Arab Emirates     7108  2348.913
2        2017         1        Sudan                 World     7108  2348.913
3        2017         1        Sudan  United Arab Emirates     7108  2348.913
4        2017         1        Sudan                 World   710812  2348.913
...       ...       ...          ...                   ...      ...       ...
1051     2023        11       Zambia  United Arab Emirates   710813  1030.790
1052     2023        12       Zambia                 World   710813     0.000
1053     2023        12       Zambia          South Africa   710813     0.000
1054     2023        12       Zambia                 World   710813     0.000
1055     2023        12       Zambia          South Africa   710813     0.000

     altQtyUnitAbbr     altQty  netWgt  primaryValue
0               NaN        0.0    0.00  9.220535e+07
1               NaN        0.0    0.00  9.220535e+07
2               NaN        0.0    0.00  9.220535e+07
3               NaN        0.0    0.00  9.220535e+07
4               NaN        0.0    0.00  9.220535e+07
...             ...        ...     ...           ...
1051              g  1030790.0   19.37  9.873867e+05
1052              g        4.0   56.22  3.528064e+06
1053              g        4.0   56.22  3.528064e+06
1054              g        4.0   56.22  3.528064e+06
1055              g        4.0   56.22  3.528064e+06

[1056 rows x 10 columns]>

In [27]:
combine_df.describe()

,refYear,refMonth,cmdCode,qty,altQty,netWgt,primaryValue
count,1056.000000,1056.000000,1056.000000,1056.000000,1.056000e+03,682.000000,1.056000e+03
mean,2019.393939,6.558712,366956.950758,2325.039962,2.653900e+05,1532.847730,2.723306e+07
std,2.118777,3.431159,351928.096812,19937.561384,2.950159e+06,17525.647653,7.917853e+07
min,2017.000000,1.000000,7108.000000,0.000000,0.000000e+00,0.000000,3.595010e+02
25%,2017.750000,4.000000,7108.000000,0.000000,0.000000e+00,0.000000,3.573255e+06
50%,2019.000000,6.000000,710812.000000,0.000000,1.000000e+00,0.300000,5.728421e+06
75%,2021.000000,10.000000,710813.000000,48.966750,5.000000e+00,79.160000,8.290068e+06
max,2023.000000,12.000000,710813.000000,229714.587000,3.400000e+07,228355.941000,8.224215e+08

In [28]:
combine_df.tail()

,refYear,refMonth,reporterDesc,partnerDesc,cmdCode,qty,altQtyUnitAbbr,altQty,netWgt,primaryValue
1051,2023,11,Zambia,United Arab Emirates,710813,1030.79,g,1030790.0,19.37,987386.728
1052,2023,12,Zambia,World,710813,0.00,g,4.0,56.22,3528064.267
1053,2023,12,Zambia,South Africa,710813,0.00,g,4.0,56.22,3528064.267
1054,2023,12,Zambia,World,710813,0.00,g,4.0,56.22,3528064.267
1055,2023,12,Zambia,South Africa,710813,0.00,g,4.0,56.22,3528064.267

In [29]:
combine_df.head()

,refYear,refMonth,reporterDesc,partnerDesc,cmdCode,qty,altQtyUnitAbbr,altQty,netWgt,primaryValue
0,2017,1,Sudan,World,7108,2348.913,NaN,0.0,0.0,92205354.0
1,2017,1,Sudan,United Arab Emirates,7108,2348.913,NaN,0.0,0.0,92205354.0
2,2017,1,Sudan,World,7108,2348.913,NaN,0.0,0.0,92205354.0
3,2017,1,Sudan,United Arab Emirates,7108,2348.913,NaN,0.0,0.0,92205354.0
4,2017,1,Sudan,World,710812,2348.913,NaN,0.0,0.0,92205354.0

In [30]:
combine_df

,refYear,refMonth,reporterDesc,partnerDesc,cmdCode,qty,altQtyUnitAbbr,altQty,netWgt,primaryValue
0,2017,1,Sudan,World,7108,2348.913,NaN,0.0,0.00,9.220535e+07
1,2017,1,Sudan,United Arab Emirates,7108,2348.913,NaN,0.0,0.00,9.220535e+07
2,2017,1,Sudan,World,7108,2348.913,NaN,0.0,0.00,9.220535e+07
3,2017,1,Sudan,United Arab Emirates,7108,2348.913,NaN,0.0,0.00,9.220535e+07
4,2017,1,Sudan,World,710812,2348.913,NaN,0.0,0.00,9.220535e+07
...,...,...,...,...,...,...,...,...,...,...
1051,2023,11,Zambia,United Arab Emirates,710813,1030.790,g,1030790.0,19.37,9.873867e+05
1052,2023,12,Zambia,World,710813,0.000,g,4.0,56.22,3.528064e+06
1053,2023,12,Zambia,South Africa,710813,0.000,g,4.0,56.22,3.528064e+06
1054,2023,12,Zambia,World,710813,0.000,g,4.0,56.22,3.528064e+06
1055,2023,12,Zambia,South Africa,710813,0.000,g,4.0,56.22,3.528064e+06

In [31]:
#change altQty to kg from g

In [32]:
combine_df.to_excel('output.xlsx', index=False)

In [33]:
combine_df.loc[combine_df['altQtyUnitAbbr'] == 'g', 'altQty'] = combine_df['altQty'] / 1000  # Convert 'altQty' from g to kg

In [34]:
combine_df['altQtyUnitAbbr'] = combine_df['altQtyUnitAbbr'].replace('g', 'kg')  # Replace 'g' with 'kg'

In [35]:
combine_df

,refYear,refMonth,reporterDesc,partnerDesc,cmdCode,qty,altQtyUnitAbbr,altQty,netWgt,primaryValue
0,2017,1,Sudan,World,7108,2348.913,NaN,0.000,0.00,9.220535e+07
1,2017,1,Sudan,United Arab Emirates,7108,2348.913,NaN,0.000,0.00,9.220535e+07
2,2017,1,Sudan,World,7108,2348.913,NaN,0.000,0.00,9.220535e+07
3,2017,1,Sudan,United Arab Emirates,7108,2348.913,NaN,0.000,0.00,9.220535e+07
4,2017,1,Sudan,World,710812,2348.913,NaN,0.000,0.00,9.220535e+07
...,...,...,...,...,...,...,...,...,...,...
1051,2023,11,Zambia,United Arab Emirates,710813,1030.790,kg,1030.790,19.37,9.873867e+05
1052,2023,12,Zambia,World,710813,0.000,kg,0.004,56.22,3.528064e+06
1053,2023,12,Zambia,South Africa,710813,0.000,kg,0.004,56.22,3.528064e+06
1054,2023,12,Zambia,World,710813,0.000,kg,0.004,56.22,3.528064e+06
1055,2023,12,Zambia,South Africa,710813,0.000,kg,0.004,56.22,3.528064e+06

In [36]:
count_g = (combine_df['altQtyUnitAbbr'] == 'g').sum()

In [37]:
count_g

0

In [38]:
missing_values_count = combine_df['altQtyUnitAbbr'].isna().sum()

print(f"Number of missing values in 'altQtyUnitAbbr': {missing_values_count}")

Number of missing values in 'altQtyUnitAbbr': 520

In [39]:
def determine_effective_qty_max(row):
    # Compare values between 'qty', 'altQty', and 'netWgt' and take the maximum value
    values = [row['qty'], row['altQty'], row['netWgt']]
    values = [v for v in values if not pd.isna(v)]  # Remove NaN values from the comparison
    return max(values) if values else np.nan

combine_df['effective_qty'] = combine_df.apply(determine_effective_qty_max, axis=1)

In [40]:
combine_df.head()

,refYear,refMonth,reporterDesc,partnerDesc,cmdCode,qty,altQtyUnitAbbr,altQty,netWgt,primaryValue,effective_qty
0,2017,1,Sudan,World,7108,2348.913,NaN,0.0,0.0,92205354.0,2348.913
1,2017,1,Sudan,United Arab Emirates,7108,2348.913,NaN,0.0,0.0,92205354.0,2348.913
2,2017,1,Sudan,World,7108,2348.913,NaN,0.0,0.0,92205354.0,2348.913
3,2017,1,Sudan,United Arab Emirates,7108,2348.913,NaN,0.0,0.0,92205354.0,2348.913
4,2017,1,Sudan,World,710812,2348.913,NaN,0.0,0.0,92205354.0,2348.913

In [41]:
duplicate_rows_count = combine_df.duplicated().sum()

In [42]:
duplicate_rows_count

528

In [43]:
combine_df.to_excel('output1.xlsx', index=False)

In [44]:
df_deduplicated = combine_df.drop_duplicates(keep='first')

# Displaying the number of rows after removing duplicates
rows_after_deduplication = len(df_deduplicated)

# Showing the number of rows after deduplication
rows_after_deduplication

528

In [45]:
df_deduplicated.head()

,refYear,refMonth,reporterDesc,partnerDesc,cmdCode,qty,altQtyUnitAbbr,altQty,netWgt,primaryValue,effective_qty
0,2017,1,Sudan,World,7108,2348.913,NaN,0.0,0.0,9.220535e+07,2348.913
1,2017,1,Sudan,United Arab Emirates,7108,2348.913,NaN,0.0,0.0,9.220535e+07,2348.913
4,2017,1,Sudan,World,710812,2348.913,NaN,0.0,0.0,9.220535e+07,2348.913
5,2017,1,Sudan,United Arab Emirates,710812,2348.913,NaN,0.0,0.0,9.220535e+07,2348.913
8,2017,1,Zambia,World,7108,0.000,NaN,0.0,NaN,8.362168e+06,0.000

In [46]:
combine_df.to_excel('output1.xlsx', index=False)

In [47]:
columns_to_drop = ['qty', 'altQtyUnitAbbr', 'altQty', 'netWgt','cmdCode']
df_cleaned = df_deduplicated.drop(columns=columns_to_drop)

In [48]:
df_deduplicated_1 = df_cleaned.drop_duplicates(keep='first')

# Displaying the number of rows after removing duplicates
rows_after_deduplication_latest = len(df_deduplicated_1)

# Showing the number of rows after deduplication
rows_after_deduplication_latest

372

In [49]:
len(df_deduplicated_1)

372

In [50]:
df_deduplicated_1.head()

,refYear,refMonth,reporterDesc,partnerDesc,primaryValue,effective_qty
0,2017,1,Sudan,World,9.220535e+07,2348.913
1,2017,1,Sudan,United Arab Emirates,9.220535e+07,2348.913
8,2017,1,Zambia,World,8.362168e+06,0.000
9,2017,1,Zambia,South Africa,8.362168e+06,0.000
12,2017,1,Zambia,World,8.362168e+06,0.012

In [51]:
df_deduplicated_1

,refYear,refMonth,reporterDesc,partnerDesc,primaryValue,effective_qty
0,2017,1,Sudan,World,9.220535e+07,2348.913
1,2017,1,Sudan,United Arab Emirates,9.220535e+07,2348.913
8,2017,1,Zambia,World,8.362168e+06,0.000
9,2017,1,Zambia,South Africa,8.362168e+06,0.000
12,2017,1,Zambia,World,8.362168e+06,0.012
...,...,...,...,...,...,...
994,2023,6,Zambia,World,5.640157e+04,1.000
998,2023,10,Zambia,World,5.795839e+04,0.001
999,2023,10,Zambia,United Arab Emirates,5.795839e+04,0.001
1026,2023,6,Zambia,World,3.856634e+06,64.390
1042,2023,10,Zambia,World,3.935930e+06,65.130

In [52]:
df_deduplicated_1.to_excel('output2.xlsx', index=False)

In [53]:
df_filtered = df_deduplicated_1[df_deduplicated_1['effective_qty'] >= 10]

In [54]:
df_filtered

,refYear,refMonth,reporterDesc,partnerDesc,primaryValue,effective_qty
0,2017,1,Sudan,World,9.220535e+07,2348.913
1,2017,1,Sudan,United Arab Emirates,9.220535e+07,2348.913
16,2017,2,Sudan,World,1.165644e+08,2969.456
17,2017,2,Sudan,United Arab Emirates,1.160972e+08,2957.552
18,2017,2,Sudan,Türkiye,4.672780e+05,11.904
...,...,...,...,...,...,...
986,2023,11,Zambia,United Arab Emirates,9.873867e+05,1030.790
990,2023,12,Zambia,World,3.528064e+06,56.220
991,2023,12,Zambia,South Africa,3.528064e+06,56.220
1026,2023,6,Zambia,World,3.856634e+06,64.390
1042,2023,10,Zambia,World,3.935930e+06,65.130

In [55]:
len(df_filtered)

163

In [56]:
df_filtered.to_excel('output_final_document.xlsx', index=False)

In [57]:
df_filtered_latest = df_filtered[~((df_filtered.duplicated(subset='primaryValue', keep='first')) & (df_filtered['partnerDesc'] == 'World'))]

In [58]:
len(df_filtered_latest)

156

In [59]:
df_filtered_latest.to_excel('output_final_document1.xlsx', index=False)

In [60]:
# Removing rows where 'primaryValue' has duplicates and 'partnerDesc' is 'World', keeping non-'World' values
df_filtered_latest_corrected = df_filtered_latest[~((df_filtered_latest.duplicated(subset='primaryValue', keep=False)) & (df_filtered_latest['partnerDesc'] == 'World'))]

In [61]:
len(df_filtered_latest_corrected)

125

In [126]:
df_filtered_latest_corrected.to_excel('output_final_document_month_wise_data.xlsx', index=False)